<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header'); -%>

<body class="loading">
    <!-- Begin page -->
    <div id="wrapper">
        <%- include('../partials/dashboardHeader'); -%>
        

                    <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">
                        
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="<%- superadminpath %>">Dashboard</a></li>
                                            
                                            <li class="breadcrumb-item active">Deals</li>
                                        </ol>
                                    </div>
                                    <h4 class=form-label">Deals</h4>
                                </div>
                            </div>
                        </div>     
                        <!-- end page title --> 


                        <div class="row">
                            <div class="col-xl-11 order-xl-1 order-2">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <div class="row">
                                           
                                            <div class="col-lg-12">
                                                <div class="form-group float-right">
                                                    <div class="text-lg-right">
                                                        <a href="<%- superadminpath %>deals/add"><button type="button" class="btn btn-danger waves-effect waves-light"><i class="mdi mdi-plus-circle mr-1"></i> Add New Deal</button></a>
                                                    </div>
                                                </div>
                                                <form   onkeypress="return event.keyCode != 13"  class="form-inline">
                                                    <div class="form-group">
                                                        <label for="inputPassword2" class="sr-only">Search</label>
                                                        <input type="text" id="search" class="form-control" placeholder="Search...">
                                                    </div>
                                                    <div class="form-group mx-sm-3">
                                                        <label for="status-select" class="mr-2">Sort By</label>
                                                        <select class="custom-select" id="status-select">
                                                            <option value="">All</option>
                                                            <option value="1">Active</option>
                                                            <option value="0">Inactive</option>
                                                        </select>
                                                    </div>
                                                </form>
                                                
                                            </div>
                                            <!-- end col-->
                                        </div> <!-- end row -->
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                                <div id="orderData">
                                    
                                </div>
                                <div class="col-md-4" style="float:right" id="append_pagination">
                                </div>
                        </div>
                        <!-- end row -->
                        
                    </div> <!-- container -->

                </div> <!-- content -->
            </div>
                
</div>
                
    <!-- END wrapper -->

    <%- include('../partials/script'); -%>
    <%- include('../partials/commonJs'); -%>
<script>
   
   $('#search').on( 'keyup', function (event) {
    event.preventDefault();

if (event.keyCode === 13) {
 getFilter(1)
} 
    });


    $( "#status-select" ).change(function() {
        var currentPage=1
        getFilter(currentPage)
    });
    function StatusChange(id,status)
    {
        var confirm1= (status=="1") ? "Inactive" : "Active"
        if( confirm('Are you sure you want to '+confirm1+' this?'))
        {
            $.ajax({
                type: 'POST',
                url: '<%-superadminpath%>deals/status',
                dataType: 'json',
                data: {'id':id,'status':status},
                success: function (response) {
                    if (response.code == '200') {
                        if(status == "1")
                        {
                            showToastSuccess("Deal inactive successfully");
                          
                                getFilter(currentPage)
                          
                           

                        }else{
                            showToastSuccess("Deal active successfully");
                           getFilter(currentPage)
                        }
                    }
                    else{

                      
                        showToastError(response.message);
                          
                    }
                },
                error :function(response)
                {
                   
                    var errorResponse=JSON.parse(response.responseText)
                 showToastError(errorResponse.message)

                      

                }
            });
        }
    }
    function getFilter(currentPage)
    {
        currentPage=currentPage
        var limit=40
        $('#loading1').show();
        var status = $('#status-select').val();
        var search = $('#search').val();
        $.ajax({
            type: 'POST',
            url: '<%-superadminpath%>deals/list',
            dataType: 'json',
            data: {'search':search,'status':status,'page':currentPage,'limit':limit},
            success: function (response) {
                $('#loading1').hide()

                if (response.code == '200') 
                {
                    var row="";

                    $('#orderData').html('')
                    var data1=response.body.data
                    var data=response.body.data.rows
                    for(var t=0;t<data.length;t++)
                    {
                        var active = 1;
                        var payemnt='<a href="javascript:void(0)" onclick="StatusChange(\''+data[t].id+'\',\''+active+'\')" class="btn btn-success waves-effect waves-light"><i class="mdi mdi-cog mdi-spin mr-1"></i>Active</a>'

                        if(data[t].status == '1')
                        {
                            
                            var status = "Active";
                            var stclass = "bg-soft-info text-info";
                           
                        }else{
                            var active = 0;
                            var status = "Inactive";
                             var stclass = "bg-soft-danger text-danger";
                              payemnt='<a href="javascript:void(0)" onclick="StatusChange(\''+data[t].id+'\',\''+active+'\')" class="btn btn-danger waves-effect waves-light"><i class="mdi mdi-cog mdi-spin mr-1"></i>Inactive</a>'

                        }
                   

                        var type=(data[t].userType && data[t].userType.userType && data[t].userType.userType!="")?data[t].userType.userType:"All"

                        row =row+ '<div class="card-box mb-2">'+
                        '<div class="row align-items-center">'+
                        '<div class="col-sm-4"><div class="media">'+

                        '<img onError="this.onerror=null;this.src=\'/assets/images/products/no-image.jpg\';" class="d-flex align-self-center mr-3   avatar-xxl " src="'+data[t].thumbnail+'" alt="image" >'+
                        '<div class="media-body">'+
                        '<h4 class="mt-0 mb-2 font-16">'+data[t].dealName+'</h4>'+
                        '<p class="mb-1"><b>Code:</b> '+data[t].code+'</p>'+
                        '<p class="mb-1"><b>Valid Upto:</b> '+format(new Date(data[t].validUpto)) +'</p>'+
                        '<p class="mb-1"><b>Valid For:</b> '+type +'</p>'+
                        '</div></div></div>'+
                        '<div class="col-sm-4">'+
                        '<p class="mb-1 mt-3 mt-sm-0"><i class="mdi mdi-gift mr-1"></i> '+data[t].discount+'% (Discount)</p>'+
                        '<p class="mb-0"><i class="mdi mdi-chart-donut mr-1"></i> '+data[t].usageLimit+' Usage Limit</p>'+
                        '<p class="mb-0 badge  mt-1 font-14 '+stclass+' p-1"> '+status+' </p>'+
                        '</div><div class="col-sm-2">'+
                        '<div class="text-center mt-3 mt-sm-0">'+
                        // '<div class="badge font-14 '+stclass+' p-1">'+status+'</div>'+ 
                        '</div></div>'+                             
                        '<div class="col-sm-2"><div class="text-sm-right">'+
                        ''+payemnt+''+
                        '<a href="<%-superadminpath%>deals/view/'+data[t].id +'"  title="Edit Deal" class="action-icon"> <i class="mdi mdi-square-edit-outline ml-1"></i></a>'+
                        '<a onclick="return confirm(\'Are you sure you want to delete this?\');"  href="<%-superadminpath%>deals/delete/'+data[t].id +'" data-id="'+ data[t].id+'" title="Delete Deal"  class="action-icon"> <i class=" mdi mdi-delete "></i></a>'+
                        '</div></div></div></div></div>';
                    }
                    
                    $('#orderData').html(row);
                    appendPagination(currentPage,Math.ceil(data1.count/limit))
                    //$('#exe').DataTable();
                }
                else{
                    showToastError(response.message)
                }
            },

            error :function(response)
            {
                $('#loading1').hide()

                var errorResponse=JSON.parse(response.responseText)
                 showToastError(errorResponse.message)


            }
        });
    } 


    function appendPagination(currentPage,count)
    {
        var fd="";
        if (count >= 1) { 
            fd=fd+' <ul class="pagination pagination-rounded justify-content-end my-2">'; 

            if (currentPage > 1) {            
              fd=fd+'<li class="page-item"><a class="page-link" onclick="getFilter(1)" href="javascript: void(0);" aria-label="Previous"> <span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>';
            }
            else{
                fd=fd+'<li class="page-item"><a class="page-link disabled" href="javascript: void(0);" aria-label="Previous"> <span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>';
            }
          var i = 1;
          if (currentPage > 5) {
          i = +currentPage - 4;
          } 
         // if (i !== 1) { 
         //      fd=fd+'<a  class="btn medium disabled ui-state-default" href="javascript:;">...</a>';
         //  } 
                         
         // alert(fd);
          
         
            for (i; i<=count; i++) {
                if (currentPage == i) { 
                  fd=fd+'<li class="page-item active"><a class="page-link" href="javascript: void(0);">'+currentPage+'</a></li>';
                } else {
                    fd=fd+'<li class="page-item"><a class="page-link" onclick="getFilter('+i+')" href="javascript: void(0);">'+i+'</a></li>';
                }
                if (i == (+currentPage + 4)) {
                    fd=fd+'<a  class="btn medium disabled ui-state-default" href="javascript:;">...</a>';
                 break; } 
              }
         
          
            if (currentPage != count) {
                fd=fd+'<li class="page-item"><a class="page-link" onclick="getFilter('+count+')" href="javascript: void(0);" aria-label="Previous"> <span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>';
            } 
            else{
                fd=fd+'<li class="page-item"><a class="page-link disabled" href="javascript: void(0);" aria-label="Previous"> <span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>';
            } 
             
            fd=fd+'</ul>';  
        } 

           $("#append_pagination").html(fd)  
    }

    var currentPage=1
    getFilter(currentPage)
</script>
</body>

</html>