<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header'); -%>

<body class="loading">
    <!-- <div class="login-logo">
        <a href="<%-adminpath%>/"><b>Food</b>Delivery</a>
      </div> -->
    <!-- Begin page -->
    <div id="wrapper">
        <%- include('../partials/dashboardHeader'); -%>
        <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="<%- adminpath %>">Dashboard</a></li>
                                        
                                        <li class="breadcrumb-item">Settings</li>

                                        <li class="breadcrumb-item active">Change Password</li>
                                    </ol>
                                </div>
                                <h4 class=form-label">Change Password</h4>
                            </div>
                        </div>
                    </div>     
                    <!-- end page title --> 

                    <div class="row">
                        <div class="col-8">
                            <div class="card">

                    <div class="card-body">

                    <form role="form" method="POST"  id="changePassword" class="changePassword" >
    
                        <div class="form-group">
                                <label for="">
                                    Old Password <span class="required">*</span>
                                </label>
                                <input required type="password" id="oldPassword" required  name="oldPassword"   data-trigger="change" data-required="true" class="form-control" />
                        </div>
                        
                        <div class="form-group">
                                <label for="">
                                    New Password <span class="required">*</span>
            
                                </label>
                                <input required type="password" required id="newPassword"  data-rangelength="[6,10]"  name="newPassword"  data-trigger="change" data-required="true" class="form-control" />
                        </div>
            
                      
                        <div class="form-group">

                                <label for="">
                                    Confirm Password <span class="required">*</span>
                                </label>
                                <input required type="password" required id="confirmPassword" data-rangelength="[6,10]"  name="confirmPassword"  data-trigger="change" data-required="true" class="form-control" />
                        </div>
            
                        
                      
                        <div class="form-row">
                            <input type="hidden" name="superhidden" id="superhidden" />
                            <div class="form-input col-md-8 col-md-offset-6">
                            
                                <button  type="button" onclick="window.history.back();"    class="btn ui-state-default medium bg-red mrg15R">
                                    <span class="button-content">Cancel</span>
                                </button>
                                <button  type="submit" class="btn btn-info medium  primary-bg">
                                    <span class="button-content">Submit</span>
                                </button>
                                </div>
                        </div>
            
                    </div>
            
            </form> 

            </div>

            </div>

            </div>
            </div>

                </div> <!-- container -->

            </div> <!-- content -->


        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->
    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <div class="loader" style="position:fixed;top:50%;left:50%;display: none;">
        <img src="/assets/images/loader-dark.gif" alt="">
    </div>



    <%- include('../partials/script'); -%>
    <%- include('../partials/commonJs'); -%>

    <script>

    $(document).ready(function() { 

        // var options = { 
        //     beforeSubmit:  showRequest,
        //     success:       showResponse  // post-submit callback 
        // }; 
 
        // // bind form using 'ajaxForm' 
        // $('#changePassword').ajaxForm(options);

        // function showResponse(responseText, statusText, xhr, $form){
        //     setTimeout(function(){
        //         $(".loader").css("display","none");

        //         if(responseText.code == 200){
        //             toastr.success(responseText.message);
        //         }else{
        //             toastr.error("Error Occured");
        //         }

        //         $("#changePassword")[0].reset();

        //     },2000)
            
        // }

        // function showRequest(formData, jqForm, options) {
        //     $(".loader").css("display","block"); 
        // }
        $(document).ready(function () {
    

     $.validator.addMethod('pwcheck', function (value, element) {
        return /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$@!%&*?])[A-Za-z\d#$@!%&*?]{6,30}$/.test(value);
    }, "Password should contain at least one digit, lower case character, upper case character and special character");
        $("#changePassword").validate({
            rules: {
                oldPassword: {
                    required: true
                },
                newPassword: {
                    required: true,
                    maxlength: 30,
                    minlength:6,
                    pwcheck: true
                },
                confirmPassword: {
                    required: true,
                    equalTo: "#newPassword"
                }
            },
            messages: {
                oldPassword: {
                    required: "Enter Old password."
                },
                newPassword: {
                    required: "Enter New Password",
                    maxlength: "Password should not be greater than 30 characters",
                    minlength: "Password should be atleast six characters"
                },
                confirmPassword: {
                    required: "Enter Confirm Password",
                    equalTo: "Confirm Password Should Be Same As New Password"
                }
            },
            submitHandler: function (form) {
                var tempform = $('#changePassword');
                var form_data = new FormData(tempform[0]);

                $(".overlay").show();
                $.ajax({
                    type: 'POST',
                    url: '<%=adminpath %>changePassword',
                    dataType: 'json',
                    data: form_data,
                    contentType:false,
                    cache:false,
                    processData:false,
                    success: function (response) {
                        if(response.code == 200){
                            setTimeout(function(){
                                $(".overlay").hide();
                                toastr.success("Password Changed!");
                            }, 2000);

                            $(".changePassword")[0].reset();

                        }else{
                            setTimeout(function(){
                                $(".overlay").hide();
                                toastr.error(response.message);
                            }, 2000);
                        }
                    }
                });
            }
            
        });
    });



        // $(".changePassword").submit(function(e){

        //     var data = $(this).serialize();

        //     $.ajax({
        //         url: '<%=adminpath %>changePassword',
        //         type: 'POST',
        //         data: data,
        //         success: function(response){

        //             $(".loader").show();

        //             if(response.code == 200){

        //                 setTimeout(function(){
        //                     $(".loader").hide();
        //                     toastr.success("Password Changed!");
        //                 }, 2000);

        //                 $(".changePassword")[0].reset();

        //             }else{
        //                 setTimeout(function(){
        //                     $(".loader").hide();
        //                     toastr.error(response.message);
        //                 }, 2000);
        //             }
        //         }
        //     });

        //     e.preventDefault();

        // });


});

</script>


</body>

</html>