<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header'); -%>

<body class="loading">

    <!-- Begin page -->
    <div id="wrapper">
        <%- include('../partials/dashboardHeader'); -%>
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <div class="content">
                <!-- Start Content-->
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Company</a></li>
                                        <li class="breadcrumb-item active">Add</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Add Company</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <%-include ('../partials/flashMessage')%>


                    <div class="row">
                        <div class="col-xl-10">
                            <div class="card">
                                <div class="card-body">


                                    <% if (typeof successMessage != 'undefined' && successMessage && successMessage.length>0) { %>

                                        <div class="callout callout-info bg-success">
                                    
                                            <p><%- successMessage %></p>
                                          </div>
                                        <% }%>
                
                                    <% if (typeof errorMessage != 'undefined' && errorMessage && errorMessage.length>0) { %>
                                    
                                        <div class="callout callout-info">
                                            <p><%- errorMessage %></p>
                                          </div>
                                        <% }%>
                


                                    <!-- <form role="form" onsubmit="return false" class="col-md-12" id="adduser"> -->
                                        <form  onsubmit="return false" role="form" id="adduser"  >

                                        <div id="progressbarwizard">

                                            <ul class="nav nav-pills bg-light nav-justified form-wizard-header mb-4">
                                                <li class="nav-item">
                                                    <a href="#basictab1" data-toggle="tab"
                                                        class="nav-link rounded-0 pt-2 pb-2">
                                                        <i class="mdi mdi-account-circle mr-1"></i>
                                                        <span class="d-none d-sm-inline">PERSONAL INFO</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#basictab2" data-toggle="tab"
                                                        class="nav-link rounded-0 pt-2 pb-2">
                                                        <i class="mdi mdi-face-profile mr-1"></i>
                                                        <span class="d-none d-sm-inline">CONTACT INFO</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#basictab4" data-toggle="tab"
                                                        class="nav-link rounded-0 pt-2 pb-2">
                                                        <i class="mdi mdi-face-profile mr-1"></i>
                                                        <span class="d-none d-sm-inline">MEDIA INFO</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <i class="mdi mdi-checkbox-marked-circle-outline mr-1"></i>
                                                    <button type="submit"
                                                        class="btn ui-state-default medium  primary-bg">
                                                        <span class="d-none d-sm-inline">SUBMIT</span>
                                                    </button>
                                                </li>
                                            </ul>

                                            <div class="tab-content b-0 mb-0 pt-0">
                                                <div id="bar" class="progress mb-3" style="height: 7px;">
                                                    <div class="bar progress-bar progress-bar-striped progress-bar-animated bg-success"></div>
                                                </div>
                                                <div class="tab-pane" id="basictab1">
                                                    <div class="row">
                                                        <div class="col-12">

                                                            <div class="form-group row mb-3">
                                                                <label class="col-md-3 col-form-label"
                                                                    for="userName">companyName:<span class="text-danger">*</span></label>
                                                                <div class="col-md-9">
                                                                    <input type="text" id="companyName" name="companyName"
                                                                        data-trigger="change" data-required="true"
                                                                        class="form-control parsley-validated" />

                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-3">
                                                                <label class="col-md-3 col-form-label" for="lastName">
                                                                    Website Link: </label>
                                                                <div class="col-md-9">
                                                                    <input type="text" id="WebsiteLink" name="WebsiteLink"
                                                                        data-trigger="change"
                                                                        class="form-control parsley-validated" />

                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-3">
                                                                <label class="col-md-3 col-form-label"
                                                                    for="address">Address: <span class="text-danger">*</span></label>
                                                                <div class="col-md-9">
                                                                    <textarea id="address" name="address"
                                                                        data-trigger="keyup" data-rangelength="[10,200]"
                                                                        class="form-control parsley-validated"></textarea>
                                                                    <input type="hidden" id="latitude" name="latitude"
                                                                         />
                                                                        <input type="hidden" id="longitude" name="longitude"
                                                                         />
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-3 " style="height: 50%">
                                                                <label class="col-md-3 col-form-label"
                                                                    for="address">Map View<small>(Use Marker Drag & Drop)</small>: <span class="text-danger">*</span></label>
                                                                <div class="col-md-9">
                                                                    <div id="map_canvas" style="height: 100%" ></div>
                                                                </div>
                                                            </div>

                                                        </div> <!-- end col -->
                                                    </div> <!-- end row -->
                                                </div>

                                                <div class="tab-pane" id="basictab2">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-group row mb-3">
                                                                <label class="col-md-3 col-form-label" for="email">
                                                                    Email <span class="text-danger">*</span></label>
                                                                <div class="col-md-9">
                                                                    <input type="text" id="email" name="email"
                                                                        data-type="email" data-trigger="change"
                                                                        data-required="true"
                                                                        class="form-control parsley-validated" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-3">
                                                                <label class="col-md-3 col-form-label" for="password">
                                                                    Password <span class="text-danger">*</span></label>
                                                                <div class="col-md-9">
                                                                    <input type="password" id="password" name="password"
                                                                        data-trigger="change"
                                                                        data-required="true"
                                                                        class="form-control parsley-validated" />

                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-3">
                                                                <label class="col-md-3 col-form-label" for="name">Phone
                                                                    Number <span class="text-danger">*</span></label>
                                                                <div class="col-md-3">
                                                                    <input autocomplete="off" type="text"
                                                                        id="countryCode" name="countryCode"
                                                                        placeholder="91" data-trigger="change"
                                                                        data-required="true"
                                                                        class="form-control parsley-validated" />
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <input type="text" id="phoneNumber"
                                                                        name="phoneNumber" data-trigger="change"
                                                                        data-type="phone" data-required="true"
                                                                        class="form-control parsley-validated" />

                                                                </div>
                                                            </div>
                                                        </div> <!-- end col -->
                                                    </div> <!-- end row -->
                                                </div>


                                                <div class="tab-pane" id="basictab4">
                                                    <div class="row">
                                                        <div class="col-12">

                                                            <div class="form-group row mb-3">
                                                                <label class="col-md-3 col-form-label"
                                                                    for="image">Upload
                                                                    Image1: <span class="text-danger">*</span></label>
                                                                <div class="col-md-3">
                                                                    <input class="custom-file-input1" id="logo1"
                                                                        type="file" name="logo1">

                                                                </div>
                                                            </div>

                                                            <div class="form-group row mb-3">
                                                                <label class="col-md-3 col-form-label"
                                                                    for="image">Upload
                                                                    Image2: <span class="text-danger">*</span></label>
                                                                <div class="col-md-3">
                                                                    <input class="custom-file-input1" id="logo2"
                                                                        type="file" name="logo2">

                                                                </div>
                                                            </div>

                                                            <div class="form-group row mb-3">
                                                                <label class="col-md-3 col-form-label"
                                                                    for="image">Upload
                                                                    Image3: <span class="text-danger">*</span></label>
                                                                <div class="col-md-3">
                                                                    <input class="custom-file-input1" id="logo3"
                                                                        type="file" name="logo3">

                                                                </div>
                                                            </div>

                                                        </div> <!-- end col -->
                                                    </div> <!-- end row -->
                                                </div>

                                                <div class="tab-pane" id="basictab3">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="text-center">
                                                                <h2 class="mt-0"><i class="mdi mdi-check-all"></i></h2>
                                                                <h3 class="mt-0">Please wait..We are adding restaurant details!</h3>
                                                            </div>
                                                        </div> <!-- end col -->
                                                    </div> <!-- end row -->
                                                </div>
                                            </div> <!-- tab-content -->
                                        </div> <!-- end #basicwizard-->
                                    </form>

                                </div> <!-- end card-body -->
                            </div> <!-- end card-->
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->
                </div> <!-- container -->
            </div> <!-- content -->
        </div>
        <!-- ============================================================= -->
        <!-- End Page content -->
        <!-- ============================================================== -->
    </div>
    <!-- END wrapper -->
    <%- include('../partials/script'); -%>

    <%- include('../partials/commonJs'); -%>


</body>


<script type="text/javascript">
$(function() { 
        $('#sidebar-menu ul li').find('a[href*="<%-superadminpath%>company"]').parent().addClass('menuitem-active');
        $('#sidebar-menu ul li a[href^="<%-superadminpath%>company"]').addClass('active');
    });
    $('#adduser').validate({
            rules: {
                companyName: {
                    required: true,
                },
                password: {
                    required: true,
                },
                email: {
                    required: true,
                    email: true,
                },
                image: {
                    required: true,
                   // minlength: 5
                },
                phoneNumber: {
                    required: true,
                   // minlength: 10,
                    maxlength: 10
                },
                address: {
                    required: true,
                   // minlength: 5
                },
                logo1: { required: true, accept: "image/jpg,image/jpeg,image/png,image/gif"},
                logo2: { required: true, accept: "image/jpg,image/jpeg,image/png,image/gif"},
                logo3: { required: true, accept: "image/jpg,image/jpeg,image/png,image/gif"},
            },
            messages: {
                companyName: {
                    required: "Please enter a companyName",
                   // email: "Please enter a vaild email address"
                },
                password: {
                    required: "Please enter a password",
                    //minlength: "Your password must be at least 5 characters long"
                },
                email: {
                    required: "Please enter a email address",
                    email: "Please enter a vaild email address"
                },
                image: {
                    required: "Please select an image",
                    //minlength: "Your password must be at least 5 characters long"
                },
                phoneNumber: {
                    required: "Please enter phone no.",
                    maxlength: "Your phone no. must be at least 10"
                },
                address: {
                    required: "Please select address",
                },
                logo1: {required: "This field is required", accept: 'Not an image!'},
                logo2: {required: "This field is required", accept: 'Not an image!'},
                logo3: {required: "This field is required", accept: 'Not an image!'},
            },

            submitHandler: function (form) {
           
                $('#basictab1').removeClass('active')
                $('#basictab2').removeClass('active')
                $('#basictab4').removeClass('active')

                $('#basictab3').addClass('active')


                setTimeout(function(){
            var tempform = $('#adduser');

                var form_data = new FormData(tempform[0]);
                $("#loading1").show();
                $.ajax({
                    type: 'POST',
                    url: '<%- superadminpath %>company/add',
                    dataType: 'json',
                    data: form_data,
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (response) {
                        $("#loading1").hide();
                        if (response.code == 200) {

                            showToastSuccess(response.message)

                            // window.location.href = "<%-adminpath%>employees/view/" + id;
                            setTimeout(function(){
                                window.location.href = "<%- superadminpath %>company";


                            },1000)


                        } else {
                            showToastError(response.message)
                        }
                    },

                    error: function (response) {
                        $("#loading1").hide();
                        var errorResponse = JSON.parse(response.responseText)
                        showToastError(errorResponse.message)


                    }
               


                }); 
        }
    ,1000);

            }
        });
    
    
</script>


</html>

<script type="text/javascript">

    $("#countryCode").intlTelInput({
        initialCountry: "in",
    });
    var input = document.querySelector("#countryCode");
    input.addEventListener("countrychange", function () {
        $("#countryCode").val($("#countryCode").intlTelInput("getSelectedCountryData").dialCode);

    });

    var geocoder;
        var map;
        var marker;
        var infowindow = new google.maps.InfoWindow({
          size: new google.maps.Size(150, 50)
        });

        function initialize() {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(30.7046, 76.7179);
            var mapOptions = {
                zoom: 10,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
            google.maps.event.addListener(map, 'click', function() {
                infowindow.close();
            });
            var input2 = document.getElementById('address');
            var autocomplete2 = new google.maps.places.Autocomplete(input2);
            new google.maps.event.addListener(autocomplete2, 'place_changed', function () {
                var place = autocomplete2.getPlace(); 
                var lat2 =  place.geometry.location.lat();
                var lng2 =  place.geometry.location.lng();
                var addressLat2 = lat2.toFixed(6);
                var addressLong2 = lng2.toFixed(6);
                $('#latitude').val(addressLat2);
                $('#longitude').val(addressLong2);
                map.setCenter(place.geometry.location);
                if (marker) {
                    marker.setMap(null);
                    if (infowindow) infowindow.close();
                }
                marker = new google.maps.Marker({
                    map: map,
                    draggable: true,
                    position: place.geometry.location
                });
                google.maps.event.addListener(marker, 'dragend', function() {
                    geocodePosition(marker.getPosition());
                });
            });
            //Pre Defind
            //Pre Defind
            var address = document.getElementById('address').value;
            

            
            geocoder.geocode({
                'address': address
            }, function(results, status) {
                
                if (status == google.maps.GeocoderStatus.OK) {
                  map.setCenter(results[0].geometry.location);
                  if (marker) {
                    marker.setMap(null);
                    if (infowindow) infowindow.close();
                  }
                  marker = new google.maps.Marker({
                    map: map,
                    draggable: true,
                    position: results[0].geometry.location
                  });
                  google.maps.event.addListener(marker, 'dragend', function() {
                    geocodePosition(marker.getPosition());
                  });
                  google.maps.event.addListener(marker, 'click', function() {
                    if (marker.formatted_address) {
                      infowindow.setContent(marker.formatted_address + "<br>coordinates: " + marker.getPosition().toUrlValue(6));
                    } else {
                      infowindow.setContent(address + "<br>coordinates: " + marker.getPosition().toUrlValue(6));
                    }
                    infowindow.open(map, marker);
                  });
                  google.maps.event.trigger(marker, 'click');
                } else {
                  console.log('Geocode was not successful for the following reason: ' + status);
                }
            });
        
          
        }
        function geocodePosition(pos) {
            geocoder.geocode({
                latLng: pos
            }, function(responses) {

                if (responses && responses.length > 0) {
                  marker.formatted_address = responses[0].formatted_address;
                } else {
                  marker.formatted_address = 'Cannot determine address at this location.';
                }
                infowindow.setContent(marker.formatted_address + "<br>coordinates: " + marker.getPosition().toUrlValue(6));
                infowindow.open(map, marker);
                var locationaltitude = marker.getPosition().toUrlValue(6);
                var res = locationaltitude.split(",");
                var lat1 = res[0];
                var log2 = res[1];
                $('#address').val(marker.formatted_address);
                $('#latitude').val(lat1);
                $('#longitude').val(log2);
            });
        }
    google.maps.event.addDomListener(window, "load", initialize);

</script>