<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header'); -%>

<body class="loading">
    <!-- Begin page -->
    <div id="wrapper">
        <%- include('../partials/dashboardHeader'); -%>
            <div class="content-page">
                <div class="content">
                    <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h4 class="page-title ml-4 ">Edit Subscription</h4>
                                </div>
                            </div>
                        </div>     
                        <!-- end page title --> 
                    <!-- Start Content-->
                    <div class="container-fluid">
                    <form  role="form" onsubmit="return false"  class="col-md-12"  id="adduser" >
                    <input type="hidden"  name="planId" id="planId" value="<%- data.id %>"  />
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card-box">
                                    <h5 class="text-uppercase mt-3 mb-3 bg-light p-2">General</h5>

                                        <div class="form-group  mb-3">
                                            <label for="product-name">Plan Name <span class="text-danger">*</span></label>
                                            <input type="text" id="name" value="<%- data.name %>" autocomplete="off"  minlength="2" maxlength="100" name="name" class="form-control" placeholder="Plan Name">
                                        </div>

                                        <div class="form-group  mb-3">
                                            <label for="product-name">Plan Amount <span class="text-danger">*</span></label>
                                            <input type="number" id="minimumAmount" value="<%- data.price %>" name="minimumAmount" class="form-control" placeholder="Plan Amount">
                                        </div>
                                        <% for(var i =0;i<data.features.length;i++){ %>


                                      
                                           
                                            <% if(i == 0){ %>
                                                <div class="form-group mb-2">
                                                    <label for="product-name">Plan Feature <span class="text-danger">*</span></label>
                                                   <input type="text" id="feature" value="<%= data.features[i] %>" autocomplete="off"  minlength="1" maxlength="100" name="feature" class="form-control" placeholder="Add Feature">
                                                </div>
                                            <% }else{ %>
                                                <div class="row after-add-more">
                                                <div class="form-group  col-md-8">
                                                    <label for="product-name">Plan Feature <span class="text-danger">*</span></label>
                                                   <input type="text" id="feature" value="<%= data.features[i] %>" autocomplete="off"  minlength="1" maxlength="100" name="feature" class="form-control" placeholder="Add Feature">
                                                </div>
                                                <div class="text-center form-group" style="margin-top: 28px;">
                                                    <button type="button" class='btn w-sm btn-danger remove waves-effect waves-light form-control'>- Remove</button>
                                                
                                                </div> </div>
                                               
                                            <% } %>
                                        
                                        <% } %>
                                        

                                        <div class="newinputs">
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group change">
                                                <label for="">&nbsp;</label><br/>
                                                <button type="button" class="btn w-sm btn-success  waves-effect waves-light add-more">+ Add Feature</button>
                                            </div>
                                        </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="card-box">
                                    <h5 class="text-uppercase mt-3 mb-3 bg-light p-2">Duration</h5>

                                        

                                       
                                        <% for(var i =0;i<data.subscriptionDurations.length;i++){ %>


                                      
                                           
                                            <% if(i == 0){ %>
                                                <div class="form-group mb-2">
                                                    <label for="product-name">Plan Duration <span class="text-danger">*</span></label>
                                                   <input type="number" id="duration"  min="1" value="<%= data.subscriptionDurations[i].duration %>" autocomplete="off"  minlength="1" maxlength="100" name="duration" class="form-control" placeholder="Add Duration(No. of Months)">
                                                   <input type="number" id="price" min="1" value="<%= data.subscriptionDurations[i].price %>" autocomplete="off"  minlength="1" maxlength="100" name="price" class="form-control" placeholder="Add Price">

                                                </div>
                                            <% }else{ %>
                                                <div class="row after-add-more1">
                                                <div class="form-group  col-md-8">
                                                    <label for="product-name">Plan Feature <span class="text-danger">*</span></label>
                                                   <input type="text" id="duration"  min="1" value="<%= data.subscriptionDurations[i].duration %>" autocomplete="off"  minlength="1" maxlength="100" name="duration" class="form-control" placeholder="Add Duration(No. of Months)">
                                                   <input type="number" id="price"  min="1" value="<%= data.subscriptionDurations[i].price %>" autocomplete="off"  minlength="1" maxlength="100" name="price" class="form-control" placeholder="Add Price">

                                                </div>
                                                <div class="text-center form-group" style="margin-top: 28px;">
                                                    <button type="button" class='btn w-sm btn-danger remove1 waves-effect waves-light form-control'>- Remove</button>
                                                
                                                </div> </div>
                                               
                                            <% } %>
                                        
                                        <% } %>
                                        

                                        <div class="newduration">
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group change">
                                                <label for="">&nbsp;</label><br/>
                                                <button type="button" class="btn w-sm btn-success  waves-effect waves-light add-more-price">+ Add Duration</button>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                        <div class="row">
                            <div class="col-12">
                                <div class="text-center mb-3">
                                    <a href="<%- superadminpath %>subscription"><button type="button" class="btn w-sm btn-light waves-effect">Cancel</button></a>
                                    <button type="submit" class="btn w-sm btn-success waves-effect waves-light">Update</button>
                                </div>
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->
                    </form>
                    </div> <!-- container -->

                </div> <!-- content -->
            </div>
                
</div>
                
    <!-- END wrapper -->

    <%- include('../partials/script'); -%>
    <%- include('../partials/commonJs'); -%>
    <script>
    $(function() { 
        $('#sidebar-menu ul li').find('a[href*="<%-superadminpath%>subscription"]').parent().addClass('menuitem-active');
        $('#sidebar-menu ul li a[href^="<%-superadminpath%>subscription"]').addClass('active');
    });
   
    $("body").on("click",".remove_this1",function(){ 
        $(this).parents(".after-add-more1").remove();
    });

    jQuery(document).on('click', '.remove_this', function() {
       $(this).parents(".after-add-more").remove();
        return false;
    });

    jQuery(document).ready( function () {                                 
        $(".add-more").click( function(e) {
             e.preventDefault();
            $(".newinputs").append('<div class="row after-add-more">\
                <div class="form-group  col-md-8">\
                <label for="product-name">Plan Feature <span class="text-danger">*</span></label>\
                <input type="text" id="feature" autocomplete="off"  minlength="1" maxlength="100" name="feature" class="form-control" placeholder="Add Feature">\
                </div><div class="text-center form-group" style="margin-top: 28px;">\
                <button type="button" class="btn w-sm btn-danger remove waves-effect waves-light form-control remove_this">- Remove</button>\
                </div></div>');
            return false;
        });
   
        $(".add-more-price").click( function(e) {
             e.preventDefault();
             $(".newduration").append('<div class="row after-add-more1">\
                <div class="form-group  col-md-8">\
                <label for="product-name">Plan Feature <span class="text-danger">*</span></label>\
                <input type="number"  min="1" name="duration" autocomplete="off"  minlength="1" maxlength="100" name="duration" class="form-control" placeholder="Add Duration(No. of Months)">\
                <input type="number" id="price" autocomplete="off"  min="1" minlength="1" maxlength="100" name="price" class="form-control" placeholder="Add Price">\
                </div><div class="text-center form-group" style="margin-top: 28px;">\
                <button type="button" class="btn w-sm btn-danger remove waves-effect waves-light form-control remove_this1">- Remove</button>\
                </div></div>');
            return false;
        });
   
   
   
    });
 
    $('#name').on('keypress', function (event) {
        var regex = new RegExp("^[a-zA-Z0-9_ ]*$");
        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
        if (!regex.test(key)) {
           event.preventDefault();
           return false;
        }
    });
    $("#adduser").validate({
        rules: {
            name: {
              required: true
            },
            code: {
              required: true
            },
            feature: {
                required: true
            },
            price: {
                required: true
            },
            duration: {
                required: true
            }

        },
        messages: {
            name: {
                required: "This field is required"
            },
            code: {
                required: "This field is required"
            },
            feature: {
                required: "This field is required"
            },
            price: {
                required: "This field is required"
            },
            duration: {
                required: "This field is required"
            }
        },
        submitHandler: function (form) {
            $("#loading1").show();
            var tempform = $('#adduser');
            var form_data = new FormData(tempform[0]);
            $.ajax({
                type: 'POST',
                url: '<%-superadminpath%>subscription/update',
                dataType: 'json',
                data: form_data,
                contentType:false,
                cache:false,
                processData:false,
                success: function (response) {
                    $("#loading1").hide();
                    if (response.code == 200) {
                  
                        showToastSuccess(response.message)

                        setTimeout(function(){
                            window.location.href="<%-superadminpath%>subscription"; },1000)
                       
                    } else {
                        //showToastError(response.message)
                    }
                },
                error: function(response)
                {
                    $('#loading1').hide()
                   var errorResponse=JSON.parse(response.responseText)
                   showToastError(errorResponse.message)


                }
            });
        
    }

        
    });
    </script>
</body>

</html>