<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header'); -%>

<style>
    h5{
        cursor: pointer;
    }
   
    div:focus {outline: #bcbcbd solid 1px;}

</style>

<body class="loading"
    data-layout='{"mode": "light", "width": "fluid", "menuPosition": "fixed", "sidebar": { "color": "light", "size": "default", "showuser": false}, "topbar": {"color": "dark"}, "showRightSidebarOnPageLoad": true}'>
    <!-- Begin page -->
    <div id="wrapper">
        <%- include('../partials/dashboardHeader'); -%>
                   <div   class="content-page">
                <div  data-scrollbar-horizontal  style="max-width:3000px">

                    <!-- Start Content-->
                    <div class="container-fluid">
                        
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="<%- adminpath %>">Dashboard</a></li>
                                            
                                            <li class="breadcrumb-item active">Parent Category</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">Product Catalogues</h4>
                                </div>
                            </div>
                        </div>     
                        <!-- end page title --> 

                        <div  class="row">
                            <div  class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="text-muted">
                                        
                                        Select Category and customize your Products</h3>
                                        <p class="text-muted font-14 mb-3">
                                            Business Categories provide your Merchants the power to map their categories/Products to a business category, which in turn will help the Customers to easy checkout.    
                                        </p>

                                        <div class="row"   data-plugin="dragula" data-containers='["handle-dragula-left", "handle-dragula-right"]' data-handleClass="dragula-handle">
                                           
                                           
                                            <div class="col-md-4"  data-simplebar style="max-height: 500px" id="subcatDiv0";>

                                                
                                                <div class="bg-light p-2 p-lg-2">
                                                    <h5 class="mt-0 ml-2">Category(<%-data.length%>)  <i class="mr-2 mdi mdi-plus mdi-spin font-20 text-muted float-right" onclick="addCategory('0','')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add new category"></i></h5>

                                                    <div id="appSubcatDiv0" class="py-2">
                                                        <input type="hidden"  value="<%-parentId%>" id="parDiv0">

                                                        <%for(var k=0;k<data.length;k++){%>
                                                       
                                                     <div class="card mb-0 mt-2" id="bgDiv<%-data[k].id%>" >
                                                            <div    <%if(data[k].status==1){%> class="card-body" <%}else {%>  class="card-body bg-secondary" <%}%> >
                                                                <div class="media">
                                                                    <img src="<%-data[k].icon%>"  onError="this.onerror=null;this.src='/assets/images/products/no-image.jpg';" alt="image" class="mr-3 d-none d-sm-block avatar-sm rounded-circle">
                                                                    <div class="media-body">
                                                                        <h5  <% if(data[k].status==1){%>   onclick="getSubCat('<%= data[k].id %>','1','bgDiv<%-data[k].id%>','<%-data[k].name%>','<%-data[k].service%>','')" <% } %>     ><%-data[k].name%></h5>
                                                                    </div> <!-- end media-body -->
                                                                    <div class="dropdown float-right mt-2">
                                                                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                                                            <i class="mdi mdi-dots-vertical mt-10"></i>
                                                                        </a>
                                                                        <div class="dropdown-menu dropdown-menu-right">
                                                                            <!-- item-->
                                                                              <%if(data[k].child){%> 
                
                                                                                <a href="javascript:void(0);" onclick="addCategory('1','<%-data[k].id%>')"  class="dropdown-item">Add Sub-category</a>
                                                                                <%}else if(data[k].service) {%>
                                                                            <a   href="javascript:void(0);" onclick="addProduct('<%-data[k].id%>','<%-data[k].name%>')"  class="dropdown-item">Add Product</a>

                                                        
                                                                                <%}else {%>
                                                                            <a   href="javascript:void(0);"  onclick="addProduct('<%-data[k].id%>','<%-data[k].name%>')"  class="dropdown-item">Add Product</a>
                                                                            <a href="javascript:void(0);" onclick="addCategory('1','<%-data[k].id%>')" class="dropdown-item">Add Sub-category</a>

                                                                            <%}%>
                                                                            <!-- item-->
                                                                            <a href="<%-adminpath%>category/view/<%-data[k].id%>"  class="dropdown-item">Edit</a>
                                                                            <!-- item-->
                                                                            <a href="javascript:;"   <%if(data[k].status==0){%> style="display:none" <%}%>  id="block_status_<%-data[k].id%>"   onclick="StatusChange('<%= data[k].id %>','1','0','<%= data[k].parentId %>','<%= data[k].name %>')"   class="dropdown-item">
                                                                                Disable
                                                                         </a>
                                                                         <a href="javascript:;"   <%if(data[k].status==1){%> style="display:none" <%}%>  id="unblock_status_<%-data[k].id%>"   onclick="StatusChange('<%= data[k].id %>','0','0','<%= data[k].parentId %>','<%= data[k].name %>')"  class="dropdown-item">Enable</a>
                     
                                                                                                                                                     <a href="javascript:void(0);" onclick="deleteCat('<%= data[k].id %>','0','<%= data[k].parentId %>','<%= data[k].name %>')"  class="dropdown-item">Delete</a>

                                                                        </div>
                                                                    </div>
                                                                                                </div> <!-- end media -->
                                                            </div> <!-- end card-body -->
                                                        </div> <!-- end col -->

                                                        <%}%>
                                                    
                                                        
                                                    </div> <!-- end company-list-1-->
                                                </div> <!-- end div.bg-light-->
                                            </div> <!-- end col -->

                                            <div class="col-md-4"  data-simplebar style="max-height: 500px ;display:none"   id="subcatDiv1" >

                                                
                                                <div class="bg-light p-2 p-lg-2">
                                                    <h5 class="mt-0" ><span id= "headingDiv1" >Sub-Category </span></h5>
                                                    <input type="text"  id="searchDiv1" class="form-control" placeholder="Search...">
                                                    <input type="hidden"  id="parDiv1">

                                                    <div id="appSubcatDiv1" class="py-2">

                                                       
                                                
                                                        
                                                    </div> <!-- end company-list-1-->
                                                </div> <!-- end div.bg-light-->
                                            </div> <!-- end col -->


                                            <div class="col-md-4"  id="subcatDiv2" data-simplebar style="max-height: 500px ;display:none">

                                                
                                                <div class="bg-light p-2 p-lg-2">
                                                    <h5 class="mt-0" ><span id= "headingDiv2" >Sub-Category </span></h5>
                                                    <input type="text"  id="searchDiv2" class="form-control" placeholder="Search...">
                                                    <input type="hidden"  id="parDiv2">

                                                    
                                                    <div id="appSubcatDiv2" class="py-2">

                                                       
                                                
                                                        
                                                    </div> <!-- end company-list-1-->
                                                </div> <!-- end div.bg-light-->
                                            </div> <!-- end col -->

                                            <div class="col-md-4 mt-4"   id="subcatDiv3" data-simplebar style="max-height: 500px ;display:none">

                                                
                                                <div class="bg-light p-2 p-lg-2">
                                                    <h5 class="mt-0" ><span id= "headingDiv3" >Sub-Category </span></h5>
                                                    <input type="text"  id="searchDiv3" class="form-control" placeholder="Search...">
                                                    <input type="hidden"  id="parDiv3">

                                                    
                                                    <div id="appSubcatDiv3" class="py-2">

                                                       
                                                
                                                        
                                                    </div> <!-- end company-list-1-->
                                                </div> <!-- end div.bg-light-->
                                            </div> <!-- end col -->



                                            <div class="col-md-4 mt-4"  id="productDiv" data-simplebar style="max-height: 500px ;display:none">

                                                
                                                <div class="bg-light p-2 p-lg-2">
                                                    <h5 class="mt-0" id= "headingproDiv">Products</h5>
                                                        <input type="text"  id="search" class="form-control" placeholder="Search...">
                                                    

                                                    <div id="appProductDiv" class="py-2">

                                                       
                                                 
                                                    </div> <!-- end company-list-1-->
                                                </div> <!-- end div.bg-light-->
                                            </div> <!-- end col -->


                                          
                                            





                                            </div> <!-- end col -->


                                        </div> <!-- end row -->

                                    </div> <!-- end card-body -->
                                </div> <!-- end card -->
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                        <!-- end row -->
                        
                    </div> <!-- container -->

                </div> <!-- content -->
            </div>
        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->
            
        
  
        <div class="modal fade" style="padding-top: 150px;" id="custom-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-m modal-right modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header  m-3  bg-light">
                        <h4 class="modal-title" id="myCenterModalLabel">Add Category</h4>
                    </div>
                    <div class="modal-bod">
                        <form  role="form"  onsubmit="return false"  id="addCat"   enctype="multipart/form-data">

                                
                                <div class="card-body">
                                  
                                    <div class="form-group">
                                        <p class="f-500 c-black m-b-10">Category Name <span class="c-red m-l-3" >*</span> </p>
                                        <div class="fg-line">
                                            <input required type="text" id="serviceName" placeholder="Category Name" minlength="2" maxlength="100" name="serviceName"  class="form-control" />
                                            <input  type="hidden" id="category" name="category" />
                                            <input  type="hidden" id="pcategory" name="pcategory" />
                                            <input  type="hidden" id="subcat1" name="subcat1" />
                                            <input  type="hidden" id="subcat2" name="subcat2" />

                                        </div> 
                                    </div>
                                    
                                 
                                    
                                    <div class="form-group mb-0">
                                        <label>Description</label>
                                        <textarea class="form-control" name="description" rows="3" placeholder="Please enter comment" style="margin-top: 0px; margin-bottom: 0px; height: 67px;"></textarea>
                                    </div>


                                    
                                    <div class="form-group mt-2">
                                        <p class="f-500 c-black m-b-10">Color Code <span class="c-red m-l-3" >*</span> </p>
                                        <span class="text-muted font-13"> Selected color will used 
                                            <strong>for </strong> mobile applications.</span>
                                        <div class="fg-line">
                                           <input required type="color" class="jscolor form-control" value="ab2567"  id="colorCode"   name="colorCode" />
                                        </div>        
                                    </div>


                                    <div class="card-box">
                                        <h5 class="text-uppercase mt-0 mb-3 bg-light p-2">Category Image</h5>
    
                                            <div class="fallback input-group">
                                                <input  style="display: none;"  class="form-control-file dropzone" id="thumbnail" name="thumbnail" type="file" />
                                                <div  onclick="document.getElementById('thumbnail').click()" class="dz-message needsclick dropzone">
                                                    <i class="h1 text-muted dripicons-cloud-upload"></i>
                                                    <h4>Click  here  to upload.</h4>
                                                    <span class="text-muted font-13">(Selected files will be 
                                                        <strong></strong> actually uploaded.)</span>
                                                </div>
                                           
                                           
                                            </div>
    
                                       
    
                                        <!-- Preview -->
                                        <div class="dropzone-previews mt-3" id="file-previews">
                                            <img  id="myIcon"  class="avatar-l  bg-light" alt="">
                                        </div>

                                        </div>
    
                                    </div> <!-- end col-->
    
    



                                    <div class="col-12">
                                        <div class="text-center mb-3">
                                            <button type="button"  data-dismiss="modal" class="btn w-sm btn-light waves-effect">Cancel</button>
                                            <button type="submit" class="btn w-sm btn-success waves-effect waves-light">Save</button>
                                           
                                        </div>
                                    </div> <!-- end col -->
                              
                               <!-- file preview template -->
                        <div class="d-none" id="uploadPreviewTemplate">
                            <div class="card mt-1 mb-0 shadow-none border">
                                <div class="p-2">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <img data-dz-thumbnail  id="myIcon" src="#" class="avatar-sm rounded bg-light">
                                        </div>
                                        <div class="col pl-0">
                                            <a href="javascript:void(0);" class="text-muted font-weight-bold" data-dz-name></a>
                                            <p class="mb-0" data-dz-size></p>
                                        </div>
                                        <div class="col-auto">
                                            <!-- Button -->
                                            <a href="" class="btn btn-link btn-lg text-muted" data-dz-remove>
                                                <i class="dripicons-cross"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                              
                              
                                </div>
                        
                        </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
      
      






</div>
       

    <!-- END wrapper -->
    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>
    <%- include('../partials/script'); -%>
    <%- include('../partials/commonJs'); -%>

    <script>


function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    
    reader.onload = function(e) {
      $('#myIcon').attr('src', e.target.result);
    }
    
    reader.readAsDataURL(input.files[0]); // convert to base64 string
  }
}

$("#thumbnail").change(function() {
  readURL(this);
});


$("#addCat").validate({
        rules: {
            serviceName: {
              required: true
            },
            
            icon: { required: true, accept: "image/jpg,image/jpeg,image/png,image/gif"},

        },
        messages: {
            serviceName: {
                required: "This field is required"
            },
            icon: {required: "This field is required", accept: 'Not an image!'},
        },
        submitHandler: function (form) {
      var  ext = $('#thumbnail').val().split('.').pop().toLowerCase();

                if($.inArray(ext, ['gif','png','jpg','jpeg']) == -1) {
               showToastError('Please select only jpg and png files for image!')
                return false;

                }
                else{
            var tempform = $('#addCat');
            var form_data = new FormData(tempform[0]);
            $("#loading1").show();
            $.ajax({
                type: 'POST',
                url: '<%-adminpath%>category/add',
                dataType: 'json',
                data: form_data,
                contentType:false,
                cache:false,
                processData:false,
                success: function (response) {
                    $("#loading1").hide();
                    if (response.code == 200) {
                  
                        showToastSuccess(response.message)
                        $('#custom-modal').modal('hide')

                        // window.location.href="<%-adminpath%>deals";
                       
                    } else {

                        showToastError(response.message)
                    }
                },
                error: function(response)
                {
                    $('#loading1').hide()

                   var errorResponse=JSON.parse(response.responseText)
                   showToastError(errorResponse.message)


                }
            });
        }
    }
    });
  








    </script>

<script>


   var cProductId=0
    var cProductName=0
    var cProductdataC=0

    function addCategory(vlev,backId)
    {
        var parentId= $('#parDiv0').val()
       // alert(parentId)
       var myId=""
        if(backId && backId!="")
        myId=backId


        if(vlev==0)
        {
       
           $('#pcategory').val(parentId)
           $('#category').val("")
           $('#subcat1').val("")
           $('#subcat2').val("")


        }

        if(vlev==1)
        {
           $('#pcategory').val(parentId)
           $('#category').val(myId)
           $('#subcat1').val("")
           $('#subcat2').val("")
            
        }

        if(vlev==2)
        {
          $('#pcategory').val(parentId)
           $('#category').val($('#parDiv1').val())
           $('#subcat1').val(myId)
           $('#subcat2').val("")
            
        }


        if(vlev==3)
        {
          $('#pcategory').val(parentId)
           $('#category').val($('#parDiv1').val())
           $('#subcat1').val($('#parDiv2').val())
           $('#subcat2').val(myId)
            
        }

        
        var id=$('#parDiv'+vlev).val()
        var id=$('#parDiv'+vlev).val()
        var id=$('#parDiv'+vlev).val()
        var id=$('#parDiv'+vlev).val()



        if(backId && backId!="")
        id=backId


        $('#custom-modal').modal('show')

    }

$('#search').on( 'keyup', function () {

       setTimeout(function(){getproducts(cProductId,cProductdataC,cProductName) }, 1500);
    });

    $('#searchDiv1').on( 'keyup', function () {
       setTimeout(function(){
           var pId=$('#parDiv1').val()
        getSubCat(pId,'1','bgDiv'+pId,'',null,$('#searchDiv1').val()) }, 1500);
    });

    $('#searchDiv2').on( 'keyup', function () {
       setTimeout(function(){
        var pId=$('#parDiv2').val()
        getSubCat(pId,'2','bgDiv'+pId,'',null,$('#searchDiv2').val()) }, 1500);
    });

 



    function StatusChange(id,status,currentLevel,currParent,currName)
    {
        console.log(currentLevel,currParent,currName)
        var confirm1= (status=="1") ? "Disable" : "Enable"
        if( confirm('Are you sure you want to '+confirm1+' this?'))
        {
            $.ajax({
                type: 'POST',
                url: '<%-adminpath%>category/status',
                dataType: 'json',
                data: {'id':id,'status':status},
                success: function (response) {
                    //alert(response.code)
                    if (response.code == '200') {
                        
                        getSubCat(currParent,currentLevel,'bgDiv'+currParent,currName,null)       
                        showToastSuccess(response.message)


                    }
                    else{
                        showToastError(response.message)
                    }
                },
                error :function(response)
                {
                    showToastError(response.message)

                }
            });
        }
    }






    function productStatusChange(id,status)
    {
        var confirm1= (status=="1") ? "Disable" : "Enable"
        if( confirm('Are you sure you want to '+confirm1+' this?'))
        {
            $.ajax({
                type: 'POST',
                url: '<%-adminpath%>products/status',
                dataType: 'json',
                data: {'id':id,'status':status},
                success: function (response) {
                    //alert(response.code)
                    if (response.code == '200') {
                        
                        getproducts(cProductId,cProductdataC,cProductName)      
                        showToastSuccess(response.message)


                    }
                    else{
                        showToastError(response.message)
                    }
                },
                error :function(response)
                {
                    showToastError(response.message)

                }
            });
        }
    }


    function deleteCat(id,currentLevel,currParent,currName)
    {
        //alert(currParent)

        if( confirm('Are you sure you want to delete this?'))
        {
            $.ajax({
                type: 'POST',
                url: '<%-adminpath%>category/delete',
                dataType: 'json',
                data: {'id':id,'status':status},
                success: function (response) {
                    if (response.code == '200') {
                        showToastSuccess(response.message)
                        //location.reload()
                       // console.log(currParent,currentLevel,currName)
                        getSubCat(currParent,currentLevel,'bgDiv'+currParent,currName,null,'')       
                                 }
                    else{
                        showToastError(response.message)
                    }
                },
                error :function(response)
                {
                    showToastError(response.message)

                }
            });
        }
    }



    function deleteProduct(id)
    {
        //alert(currParent)

        if( confirm('Are you sure you want to delete this?'))
        {
            $.ajax({
                type: 'POST',
                url: '<%-adminpath%>products/delete',
                dataType: 'json',
                data: {'id':id},
                success: function (response) {
                    if (response.code == '200') {
                        showToastSuccess(response.message)
                        //location.reload()
                       // console.log(currParent,currentLevel,currName)
                       getproducts(cProductId,cProductdataC,cProductName)      
                                               }
                    else{
                        showToastError(response.message)
                    }
                },
                error :function(response)
                {
                    showToastError(response.message)

                }
            });
        }
    }



    
    function getSubCat(id,level,dataC,name,service,search)
{

    var nextLev=parseInt(level)+1
    var currLevel=parseInt(level)-1
    currentLevel=currLevel

    $("#appSubcatDiv"+currLevel).children().removeClass("badge-soft-secondary");
    $('#parDiv'+level).val(id)
    $('#'+dataC).addClass('badge-soft-secondary')
    if(service && service!="" && service!="null")
    {
getproducts(id,dataC,name)
    }
        else{

    
    //alert('#headingDiv'+nextLev)

    $('#loading1').show()


    $.ajax({
            type: 'POST',
            url: '<%-adminpath%>category/getSubCat',
            dataType: 'json',
            data: {'category':id,'search':search},
            success: function (response) {
                $('#loading1').hide()

                var dataAppend=""
                var data=response.body
                if (response.code == '200') {
                  for(var k=0;k<data.length;k++)
                    {
 

                        var classname="card-body"
                       if(data[k].status==0) classname="card-body bg-secondary" 
 dataAppend = dataAppend+'<div   id="bgDiv'+data[k].id+'"    class="card mb-0 mt-2" >'+
'                                                            <div    class="'+classname+'",  >'+
'                                                                <div  class="media">'+
'                                                                    <img  onError="this.onerror=null;this.src=\'/assets/images/products/no-image.jpg\';" src="'+data[k].icon+'" alt="image" class="mr-3 d-none d-sm-block avatar-sm rounded-circle">'+
'                                                                    <div class="media-body">'+
'                                                                        <h5 onclick="getSubCat(\''+data[k].id+'\',\''+nextLev+'\',\'bgDiv'+data[k].id+'\',\''+data[k].name+'\',\''+data[k].service+'\',\'\')"  class="">'+data[k].name+'</h5>'+
'                                                                    </div> <!-- end media-body -->'+
'                                                                    <div class="dropdown float-right mt-2">'+
'                                                                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">'+
'                                                                            <i class="mdi mdi-dots-vertical mt-10"></i>'+
'                                                                        </a>'+
'                                                                        <div class="dropdown-menu dropdown-menu-right">';
                                                                         


    var val=""
    if(data[k].child && level!=3)
          val='<a href="javascript:void(0);" onclick="addCategory(\''+nextLev+'\',\''+data[k].id+'\')"  class="dropdown-item">Add Sub-category</a>';
    else if(data[k].service) 
    val= '<a   onclick="addProduct(\''+data[k].id+'\',\''+data[k].name+'\')"  href="javascript:void(0);" class="dropdown-item">Add Product</a>';
      else
            {
           val=' <a   href="javascript:void(0);" onclick="addProduct(\''+data[k].id+'\',\''+data[k].name+'\')"  class="dropdown-item">Add Product</a>';

           if(level!=3) val=val+'<a href="javascript:void(0);"  onclick="addCategory(\''+nextLev+'\',\''+data[k].id+'\')" class="dropdown-item">Add Sub-category</a>';

}                                                                     

dataAppend=dataAppend+val+'<a href="javascript:void(0);" onclick="editcategory(\''+data[k].id+'\')"  class="dropdown-item">Edit</a>'+
'                                                                            <!-- item-->';
if(data[k].status=="1")
dataAppend=dataAppend+'<a href="javascript:;"  id="block_status_'+data+'"  onclick="StatusChange(\''+data[k].id +'\',\'1\',\''+level +'\',\''+data[k].parentId+'\',\''+data[k].name+'\')" class="dropdown-item">Disable </a>';
                          
else
dataAppend=dataAppend+'<a href="javascript:;"  id="block_status_'+data[k].id+'"   onclick="StatusChange(\''+data[k].id +'\',\'0\',\''+level +'\',\''+data[k].parentId+'\',\''+data[k].name+'\')"   class="dropdown-item">Enable </a>';
                                                                                                
dataAppend=dataAppend+'<a href="javascript:void(0);"  onclick="deleteCat(\''+data[k].id+'\',\''+level+'\',\''+data[k].parentId+'\',\''+data[k].name+'\')" class="dropdown-item">Delete</a>'+
''+
'                                                                        </div>'+
'                                                                    </div>'+
'                                                                                                </div>'+
'                                                            </div>'+
'                                                        </div>';
	


                }
                //alert(dataAppend)
                $('#headingDiv'+level).html(name+"("+data.length+")")

                
                if(search!="" && data.length==0)
                dataAppend="No Items found"
                $('#appSubcatDiv'+level).html(dataAppend)

                if(dataAppend==null || dataAppend=="") {
                    for(var m=currLevel;m<4;m++)
                    {
                        $('#subcatDiv'+(m+1)).hide()
                    }
                    $('#productDiv').hide()

            }
                else  {
                    
                    $('#subcatDiv'+level).show()
                    $('#subcatDiv'+level).attr("tabindex",-1).focus();

        }

        
               
    }


                   
                
                
            },

            error :function(response)
            {
                $('#loading1').hide()

                showToastError(response.message)

            }
        });
    }

}



function editcategory(id)
{

    window.location.href='<%-adminpath%>category/view/'+id
}




    function getproducts(id,dataC,name)
{

    //alert(currentLevel)
    cProductId=id
    cProductName=name
    cProductdataC=dataC

    var level="45"
    $("#appProductDiv").children().removeClass("badge-soft-secondary");
    $('#'+dataC).addClass('badge-soft-secondary')
    //alert('#headingDiv'+nextLev)

    $('#loading1').show()

   var search= $('#search').val()
    $.ajax({
            type: 'POST',
            url: '<%-adminpath%>products/',
            dataType: 'json',
            data: {'categoryId':id,'search':search},
            success: function (response) {
                $('#loading1').hide()

                var dataAppend=""
                var data=response.body
                if (response.code == '200') {
                  for(var k=0;k<data.length;k++)
                    {
 

                        var classname="card-body"
                       if(data[k].status==0) classname="card-body bg-secondary" 
                       var type=data[k].itemType==1?'Non-Veg' : 'Veg';
var rating=getRating(data[k].rating);


 dataAppend = dataAppend+'<div   id="bgDiv'+data[k].id+'"    class="card mb-0 mt-2" >'+
'<div    class="'+classname+'"  >'+
' <div  class="media">'+
'<img src="'+data[k].icon+'"  onError="this.onerror=null;this.src=\'/assets/images/products/no-image.jpg\';"  alt="image" class="mr-3 d-none d-sm-block avatar-sm rounded-circle">'+                                                                
'<div class="product-info">'+
'                                                                <div class="row align-items-center">'+
'                                                                    <div class="col">'+
'                                                                        <h5 class="font-16 mt-0 sp-line-1"><a href="<%-adminpath%>products/view/'+data[k].id+'" class="text-dark">'+data[k].name+'</a> </h5>'+
'                                                                        <div class="text-warning mb-2 font-13 ">'+rating+
'                                                                        </div>'+
'                                                                <h6 class="m-0"> <span class="text-muted"> Item Type : '+type+'</span></h6>'+
'                                                                    </div>'+
'                                                                    <div class="col-auto">'+
'                                                                        <div class="product-price-tag font-15 text-primary font-weight-bold"><%-CURRENCY%> '+data[k].price+                                            
'                                                                        </div>'+
'                                                                    </div>'+
'                                                                </div> <!-- end row -->'+
'                                                            </div>'+
'                                                                    <div class="dropdown float-right mt-2">'+
'                                                                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">'+
'                                                                            <i class="mdi mdi-dots-vertical mt-10"></i>'+
'                                                                        </a>'+
'                                                                        <div class="dropdown-menu dropdown-menu-right">';
                                                                         




 dataAppend=dataAppend+'<a href="<%-adminpath%>products/edit/'+data[k].id+'" class="dropdown-item">Edit</a>'+
'                                                                            <!-- item-->';
if(data[k].status=="1")
dataAppend=dataAppend+'<a href="javascript:;"  id="block_status_'+data+'"  onclick="productStatusChange(\''+data[k].id +'\',\'1\')" class="dropdown-item">Disable </a>';
                          
else
dataAppend=dataAppend+'<a href="javascript:;"  id="block_status_'+data[k].id+'"   onclick="productStatusChange(\''+data[k].id +'\',\'0\')"   class="dropdown-item">Enable </a>';
                                                                                                
dataAppend=dataAppend+'<a href="javascript:void(0);"  onclick="deleteProduct(\''+data[k].id+'\')" class="dropdown-item">Delete</a>'+
''+
'                                                                        </div>'+
'                                                                    </div>'+
'                                                                                                </div>'+
'                                                            </div>'+
'                                                        </div>';
	


                }
                //alert(dataAppend)
                $('#headingproDiv').html(name+" Products ("+data.length+")")

                if(search!="" && data.length==0)
                dataAppend="No Items found"
                $('#appProductDiv').html(dataAppend)

               // alert(currentLevel)
                if(currentLevel==0)
                {
                for(var m=0;m<4;m++)
                    {
                        $('#subcatDiv'+(m+1)).hide()
                    }

                }
                if(dataAppend==null || dataAppend=="") 
                  
                $('#productDiv').hide()
                  
                else  
                    
                    $('#productDiv').show()
                
                    $('#productDiv').attr("tabindex",-1).focus();
               
                    }

                   
                
                
            },

            error :function(response)
            {
                $('#loading1').hide()

                showToastError(response.message)

            }
        });
    }




   function addProduct(id,name)
   {

    window.location.href="<%-adminpath%>products/add?categoryId="+id+"&name="+name;
   }





</script>
</body>

</html>