<!DOCTYPE html>
<html lang="en">
    <head>
        

        <%- include('../partials/header'); -%>
<style>
    .auth-fluid1 {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 60vh;
  flex-direction: row;
  align-items: stretch;
  background: url("/assets/images/chatbg.jpg") center;
  background-size: cover; }
  .auth-fluid1 .auth-fluid-form-box {
    max-width: 400px;
    border-radius: 0;
    z-index: 2;
    padding: 3rem 2rem;
    background-color: #fff;
    position: relative;
    width: 100%; }
  .auth-fluid1 .auth-fluid-right {
    padding: 8rem 3rem;
    flex: 1;
    position: relative;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3); }

</style>
    </head>

    <body class="loading"
    data-layout='{"mode": "light", "width": "fluid", "menuPosition": "fixed", "sidebar": { "color": "light", "size": "default", "showuser": false}, "topbar": {"color": "dark"}, "showRightSidebarOnPageLoad": true}'>

        <!-- Begin page -->
        <div id="wrapper">
            <%- include('../partials/dashboardHeader'); -%>

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">
                        
                     

                           
                    
                                <div  id="adminDiv" class="auth-fluid1">
                                    <!--Auth fluid left content -->
                                    <div class="auth-fluid-form-box">
                                        <div class="align-items-center d-flex h-100">
                                            <div class="card-body">
                            
                                              
                                                
                            
                                                <!-- title-->
                                                <h4 class="text-muted mb-4">Click on chat button to contact admin</h4>
                            
                                            
                            
                                                <div  id="chatlist"></div>

                                               
                            
                                            </div> <!-- end .card-body -->
                                        </div> <!-- end .align-items-center.d-flex.h-100-->
                                    </div>
                                    <!-- end auth-fluid-form-box-->
                            
                                    <!-- Auth fluid right content -->
                                    <div class="auth-fluid-right text-center">
                                        <div class="auth-user-testimonial">
                                            <h2 class="mb-3 text-white">Need Help?</h2>
                                            <p class="lead"><i class="mdi mdi-format-quote-open"></i>If you signed up for Delicio, such as for your business, sign in to Delecio now to contact support. Use your administrator account (the one you signed up with).
                                                <i class="mdi mdi-format-quote-close"></i>
                                            </p>
                                            <h5 class="text-white">
                                                (Delicio Admin)
                                            </h5>
                                        </div> <!-- end auth-user-testimonial-->
                                    </div>
                                    <!-- end Auth fluid right content -->
                                </div>






                            
                                <!-- end Auth fluid right content -->
                            </div>





                        
                        
                        <div class="row">
                            <!-- chat area -->
                            <div class="col-xl-12 col-lg-12" id="right-chat">

                                <div class="card">
                                    <div class="card-body py-2 px-3 border-bottom border-light">
                                        <div class="media py-1">
                                            
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <ul id="list" class="conversation-list" data-simplebar style="max-height: 460px; overflow: auto;">
                                                                              
                                            
                                        </ul>

                                        <div class="row">
                                            <div class="col">
                                                <div class="mt-2 bg-light p-3 rounded">
                                                    <form class="needs-validation" novalidate="" name="chat-form"
                                                        id="chat-form">
                                                        <div class="row">
                                                            <div class="col mb-2 mb-sm-0">
                                                                <input type="text" class="form-control border-0" placeholder="Enter your text" id="msg">
                                                                <div id="img" style="text-align: center;"></div>
                                                                <!-- <div class="invalid-feedback">
                                                                    Please enter your messsage
                                                                </div> -->
                                                            </div>
                                                            <div class="col-sm-auto">
                                                                <div class="btn-group">
                                                                    <a onclick="selectFile()" class="btn btn-light"><i class="fe-paperclip"></i></a>
                                                                    <input onchange="getImage(this)" id="file-upload" type="file" hidden />
                                                                    <button type="submit" class="btn btn-success chat-send btn-block"><i class='fe-send'></i></button>
                                                                </div>
                                                            </div> <!-- end col -->
                                                        </div> <!-- end row-->
                                                    </form>
                                                </div> 
                                            </div> <!-- end col-->
                                        </div>
                                        <!-- end row -->
                                    </div> <!-- end card-body -->
                                </div> <!-- end card -->
                            </div>
                            <!-- end chat area-->

                        </div> <!-- end row-->
                        
                    </div> <!-- container -->

                </div> <!-- content -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->

        <%- include('../partials/script'); -%>
        <%- include('../partials/commonJs'); -%>    
        
    </body>
    
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script>
    //live link = http://51.79.40.224:9070/
    var socket = new io('http://localhost:9062/');
    var groupId, base64Img, extension, currentPage = 0;
    var chatListData = [];
    socket.on("newMessage", (data)=>{  
            
        if(data.senderId)
            var odd = data.senderId == '<%-id%>' ? true : false;
        else     
            var odd = data.adminId == '<%-id%>' ? true : false;
        var html = "";
        var sentAt = convertTime(data.sentAt);
        if(odd){
            html = ` <li class="clearfix odd">
                    <div class="chat-avatar">
                        <img src="/dist/assets/images/user.jpg" class="rounded" alt="${data.senderName ? data.senderName : data.adminName}" />
                        <i>${sentAt}</i>
                    </div>
                    <div class="conversation-text">
                        <div class="ctext-wrap">
                            <i>${data.senderName ? data.senderName : data.adminName}</i>`;
            if(data.type == 1){
                html = html + `<p>
                            ${data.message}
                            </p>
                        </div>
                    </div>          
                </li>`
            }  else{
                html = html + `<img style="width: 345px;height: 260px;" src="${data.media}" />
                        </div>
                    </div>                              
                </li>`
            }
        } else{
            html = ` <li class="clearfix">
                    <div class="chat-avatar">
                        <img src="/dist/assets/images/user.jpg" class="rounded" alt="${data.senderName ? data.senderName : data.adminName}" />
                        <i>${sentAt}</i>
                    </div>
                    <div class="conversation-text">
                        <div class="ctext-wrap">
                            <i>${data.senderName ? data.senderName : data.adminName}</i>`;
            if(data.type == 1){
                html = html + `<p>
                            ${data.message}
                            </p>
                        </div>
                    </div>          
                </li>`
            }  else{
                html = html + `<img style="width: 345px;height: 260px;" src="${data.media}" />
                        </div>
                    </div>                              
                </li>`
            }
        } 
        
      $('#list').append($(html));

    })
   
    $(document).ready(function(){  
      $("#chat img:last-child").remove();
        $("#right-chat").hide(); 
        getAdmin();
    });
    
    
    $('form').submit(function(e) {
      e.preventDefault();
      $("#msg").show();
      $("#img img:last-child").remove();
      if(base64Img && base64Img != ""){
        socket.emit("sendMessage", {authToken: '<%-token%>' , type: 2, media: base64Img,extension:extension, usertype: "admin",extraType: "vendor", groupId: groupId});
        base64Img = "";
      }else{
        socket.emit("sendMessage", {authToken: '<%-token%>' , type: 1, message: $('#msg').val(), usertype: "admin",extraType: "vendor", groupId: groupId});
      }
        
        $('#msg').val('');
      return false;
    });
    function getAdmin(){
        socket.emit('getAdmin',{authToken: '<%-token%>'});
        socket.on("getAdmin", data=>{
            console.log("=>>>chatList", data)
            chatListData = data;
            var userData = data;
            createChatList(userData);  
        })
    }
    function createChatList(data){
        var html = "", btn= "";
        for(var k=0;k<data.length;k++){
            btn = `<button class="btn-info"  onclick="showmsg('${data[k].id}')"><i class="mdi mdi-chat "></i>&nbsp;&nbsp;Chat</button>`;
            html = html + 
            
            `<div class="col-md-12 text-center bg-pattern ">
                            <div class="card-box product-box"> 
            <a href="javascript:void(0);" class="text-body">
                <div class="media p-2">
                    <img src="${data[k].image}" class="img-fluid" alt="" />
                    </div>
                    <div class="media p-2">
                        
                    <div class="media-body" onclick="showmsg('${data[k].id}')">
                        ${btn}
                        <h4 class="mt-2 mb-0 font-20">
                            ${data[k].name}
                        </h4>
                        <p class="mt-1 mb-0 text-muted font-14">
                            <span class="w-75">${data[k].email} </span></br>
                            <span class="w-75">${data[k].phone} </span>            
                                        </p>
                    </div>
                </div>
                </div>
                </div>
            </a> `  
        }
        $('#chatlist').html(html);
       
    }

    function showmsg(id){
        $("#right-chat").show();
        $("#adminDiv").hide();
       var data = {
            authToken: '<%-token%>',
            receiverId: id
        }
       socket.emit('joinRoom',data);
       socket.on('joinRoom',(data)=>{
           groupId = data.groupId;
           socket.emit("chatHistory", {authToken: '<%-token%>', groupId: data.groupId, usertype: "admin"});
           socket.on("chatHistory", (data)=>{
               console.log("=>chatHistoryRes",  data);
               var html = "";
               for(var i = 0 ;  i <data.length ; i++){
                   var sentAt = convertTime(data[i].sentAt);
                   if(data[i].senderId)
                        var odd = data[i].senderId == '<%-id%>' ? true : false;
                   else     
                    var odd = data[i].adminId == '<%-id%>' ? true : false;
                if(odd){
                    html = html +  ` <li class="clearfix odd">
                            <div class="chat-avatar">
                                <img src="/dist/assets/images/user.jpg" class="rounded" alt="${data[i].senderName}" />
                                <i>${sentAt}</i>
                            </div>
                            <div class="conversation-text" style="width: 73% !important">
                                <div class="ctext-wrap">
                                    <i>${data[i].senderName ? data[i].senderName : data[i].adminName}</i>
                                    `;
                    if(data[i].type == 1){
                        html = html + `<p>
                                    ${data[i].message}
                                    </p>
                                </div>
                            </div>          
                        </li>`
                    }  else{
                        html = html + `<img style="width: 345px;height: 260px;" src="${data[i].media}" />
                             </div>
                            </div>                              
                        </li>`
                    }                                
                               
                }else{
                    html = html +  ` <li class="clearfix">
                            <div class="chat-avatar">
                                <img src="/dist/assets/images/user.jpg" class="rounded" alt="${data[i].senderName}" />
                                <i>${sentAt}</i>
                            </div>
                            <div class="conversation-text" style="width: 73% !important">
                                <div class="ctext-wrap">
                                    <i>${data[i].senderName ? data[i].senderName : data[i].adminName}</i>`;
                                   
                    if(data[i].type == 1){
                        html = html + `<p>
                                    ${data[i].message}
                                    </p>
                                </div>
                            </div>          
                        </li>`
                    }  else{
                        html = html + `<img style="width: 345px;height: 260px;" src="${data[i].media}" />
                             </div>
                            </div>                              
                        </li>`
                    } 
                }
                
               }
               $('#list').html(html)
           })
       });
       
    }
    function selectFile(){
        $("#file-upload").click();
    }
    function getImage(element){
        var img = element.files[0];
        extension = element.files[0].name.substring(element.files[0].name.lastIndexOf('.') + 1);
        var reader = new FileReader();  
        reader.onloadend = function() {
            base64Img = reader.result;
            $("#msg").hide();
            var html = `<img src="${base64Img}" style="width: 50%;" />`
            $("#img").html(html);
        }
        reader.readAsDataURL(img);
    }
    
   
    function convertTime(timeStamp){
        var unixtimestamp = timeStamp;
        var date = new Date(unixtimestamp*1000);
        var year = date.getFullYear();
        var month = date.getMonth();
        var day = date.getDate();
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var newformat = hours >= 12 ? 'PM' : 'AM';  
        hours = hours % 12;   
        hours = hours ? hours : 12;  
        minutes = minutes < 10 ? '0' + minutes : minutes;  
        // var convdataTime = month+'/'+day+'/'+year+' '+hours + ':' + minutes+ ' ' + newformat;
        var convdataTime = hours + ':' + minutes+ ' ' + newformat;
        return convdataTime;
    }
</script>