<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header'); -%>
<link href="/dist/assets/libs/selectize/css/selectize.bootstrap3.css" rel="stylesheet" type="text/css" />


<body class="loading"
    data-layout='{"mode": "light", "width": "fluid", "menuPosition": "fixed", "sidebar": { "color": "light", "size": "default", "showuser": false}, "topbar": {"color": "dark"}, "showRightSidebarOnPageLoad": true}'>
    <!-- <div class="login-logo">
        <a href="<%-adminpath%>/"><b>Food</b>Delivery</a>
      </div> -->
    <!-- Begin page -->
    <div id="wrapper">
        <%- include('../partials/dashboardHeader'); -%>
         <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">
                        
                        <!-- start page title -->
                        
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">

                                    <div class="page-title-right" style="margin-left: 10px;">
                                        <ol class="breadcrumb m-0">
                                            <button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#con-close-modal-status">Change Status</button>
                                        </ol>
                                        
                                    </div>
                                    <% if(parseInt(data.progressStatus) != 5) { %>
                                    <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                            <button type="button" class="btn btn-success waves-effect waves-light" data-toggle="modal" data-target="#con-close-modal">My Dispatchers</button>
                                        </ol>
                                    </div>
                                    <div class="page-title-right" style="margin-right: 10px;">
                                        <ol class="breadcrumb m-0">
                                            <button type="button" class="btn btn-success waves-effect waves-light" data-toggle="modal" data-target="#con-close-modal-all">All Dispatchers</button>
                                        </ol>
                                        
                                    </div>
                                    <% } %>
                                    <h4 class="page-title">Order Detail</h4>
                                    
                                    
                                </div>
                            </div>
                        </div>     
                        
                        <!-- end page title --> 

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mb-3">Track Order</h4>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-4">
                                                    <h5 class="mt-0">Order ID:</h5>
                                                    <p><%-data.orderNo%></p>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-4">
                                                    <h5 class="mt-0">Tracking ID:</h5>
                                                    <p><%-data.id%></p>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="track-order-list">
                                            <ul class="list-unstyled">

<%for(var k=0; k<options.length; k++)
{
    var className="pending"
    var dotName=""
    if( (data.progressStatus) >=  (options[k].status))
    className='completed'
    
    if( data.progressStatus ==  options[k].status)
       dotName="active-dot dot"


 if (data.progressStatus!=options[k].status && (options[k].status=="2" ||options[k].status=="4" || options[k].status=="5") ) { continue; }


    %>
                                                <li class="<%-className%>">
                                                    <span class="<%-dotName%>"></span>
                                                    <h5 class="mt-0 mb-1"><%-options[k].statusName%></h5>
                                                    <p class="text-muted"><%-commonMethods.format(new Date(data.createdAt)) %></p>
                                                </li>
                                               
                                               
                                          
                                    
                                            <%
                                        
                                            if((data.progressStatus==2 || data.progressStatus==4 || data.progressStatus==5 ) && options[k].status==data.progressStatus ) break;

                                        
                                        }%>      

                                                
                                            </ul>
                                        </div>
                                        <!-- <div class="track-order-list">
                                            <ul class="list-unstyled">
                                                <li class="completed">
                                                    <% if(parseInt(data.progressStatus)== 0) { %>
                                                        <span class="active-dot dot"></span>
                                                    <% } %>
                                                    <h5 class="mt-0 mb-1">Order Placed</h5>
                                                    <p class="text-muted"><%-commonMethods.format(new Date(data.createdAt)) %></p>
                                                </li>
                                                <% if(parseInt(data.progressStatus)==2 || parseInt(data.progressStatus)==4){ %>
                                                <li class="completed">
                                                    <h5 class="mt-0 mb-1">Cancelled</h5>
                                                </li>
                                                <% }else{ %>
                                                    <% if(parseInt(data.progressStatus) >= 1){ %>
                                                        <li class="completed">
                                                    <% }else{ %>
                                                        <li>
                                                    <% } %>
                                                        <% if(parseInt(data.progressStatus)== 1) { %>
                                                            <span class="active-dot dot"></span>
                                                        <% } %>
                                                        <h5 class="mt-0 mb-1">Confirmed</h5>
                                                        <p class="text-muted"></p>
                                                    </li>
                                                    <% if(parseInt(data.progressStatus) >= 3){ %>
                                                        <li class="completed">
                                                    <% }else{ %>
                                                        <li>
                                                    <% } %>
                                                        <% if(parseInt(data.progressStatus)== 3) { %>
                                                            <span class="active-dot dot"></span>
                                                        <% } %>
                                                        <h5 class="mt-0 mb-1">Preparing Order</h5>
                                                        <p class="text-muted"></p>
                                                    </li>
                                                    <% if(parseInt(data.progressStatus) == 6 || parseInt(data.progressStatus) >= 5){ %>
                                                        <li class="completed">
                                                    <% }else{ %>
                                                        <li>
                                                    <% } %>
                                                        <% if(parseInt(data.progressStatus)== 6) { %>
                                                            <span class="active-dot dot"></span>
                                                        <% } %>
                                                        <h5 class="mt-0 mb-1"> Order Picked Up</h5>
                                                        <p class="text-muted"></p>
                                                    </li>
                                                    <% if(parseInt(data.progressStatus) >= 5){ %>
                                                        <li class="completed">
                                                    <% }else{ %>
                                                        <li>
                                                    <% } %>
                                                        <% if(parseInt(data.progressStatus)== 5) { %>
                                                            <span class="active-dot dot"></span>
                                                        <% } %>
                                                        <h5 class="mt-0 mb-1"> Delivered</h5>
                                                        <p class="text-muted"></p>
                                                    </li>

                                                <% } %>
                                            </ul>
                                        </div> -->

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mb-3">Items from Order <%-data.orderNo%></h4>

                                        <div class="table-responsive">
                                            <table class="table table-bordered table-centered mb-0">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th>Service name</th>
                                                        <th>Icon</th>
                                                        <th>Quantity</th>
                                                        <th>Price</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% for(var t=0;t<data.suborders.length ;t ++){ %> 
                                                        <tr>
                                                            <th scope="row"><%-data.suborders[t].service.name %></th>
                                                            <td><img src="<%-data.suborders[t].service.icon %>" alt="product-img" height="32"></td>
                                                            <td><%-data.suborders[t].quantity %></td>
                                                            <td><%-data.suborders[t].service.originalPrice %></td>
                                                            <td><%-data.suborders[t].quantity * data.suborders[t].service.originalPrice %></td>
                                                        </tr>
                                                    <% } %>
                                                    <tr>
                                                        <th scope="row" colspan="4" class="text-right">Sub Total :</th>
                                                        <td><div class="font-weight-bold"><%-CURRENCY +' '+data.orderPrice%></div></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" colspan="4" class="text-right">Order Tip :</th>
                                                        <td><%-CURRENCY +' '+data.tip%></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" colspan="4" class="text-right">Service Charges :</th>
                                                        <td><%-CURRENCY +' '+data.serviceCharges%></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" colspan="4" class="text-right">Promo Code :</th>
                                                        <td><%-data.promoCode%></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" colspan="4" class="text-right">Discount Price :</th>
                                                        <td><%-CURRENCY +' '+ data.offerPrice%></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" colspan="4" class="text-right">Loyalty value :</th>
                                                        <td><%-CURRENCY +' '+ data.usedLPoints%></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" colspan="4" class="text-right">Loyalty Discount :</th>
                                                        <td><%-CURRENCY +' '+ data.LPointsPrice%></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" colspan="4" class="text-right">Total :</th>
                                                        <td><div class="font-weight-bold"> <%-CURRENCY +' '+ data.totalOrderPrice%></div></td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mb-3">Shipping Information</h4>

                                        <h5 class="font-family-primary font-weight-semibold"><%-data.user.firstName +' '+ data.user.lastName%></h5>
                                        
                                        <p class="mb-2"><span class="font-weight-semibold mr-2">Address:</span> <%-(data.address!=null?data.address.addressName:"")%></p>
                                        
                                        <p class="mb-0"><span class="font-weight-semibold mr-2">Mobile:</span><%-data.user.countryCode +' ' + data.user.phoneNumber%></p>
            
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        
                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mb-3">Billing Information</h4>

                                        <ul class="list-unstyled mb-0">
                                            <li>
                                                <% 
                                                var type="Online"
                                                if(data.payment.paymentType == 2)  type="COD"
                                               
                                 %>
                                                <p class="mb-2"><span class="font-weight-semibold mr-2">Payment Mode:</span><%-  type %></p>
                                                <p class="mb-2"><span class="font-weight-semibold mr-2">Payment Type:</span><%-  data.payment.paymentMode %></p>
                                                <p class="mb-2"><span class="font-weight-semibold mr-2">Transaction Id:</span><%-  data.payment.transactionId %></p>
                                                <p class="mb-2"><span class="font-weight-semibold mr-2">Transaction Status:</span>
                                                <% if(data.payment.transactionStatus == '1'){ %>
                                                    Paid
                                                <% }else{ %>
                                                    Not Paid
                                                <% } %></p>
                                               
                                            </li>
                                        </ul>
            
                                    </div>
                                </div>
                            </div> <!-- end col -->
        

                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                <h4 class="header-title">Cooking Instructions</h4>
                            
                                <p class="sub-header">
                                   <%- data.cookingInstructions %>
                                </p>


                                <%
                                if(data.cookingInstMedia && data.cookingInstMedia!=null && data.cookingInstMedia!=""){%>  
                                <div class="mt-1 mb-2 ">
                                    <a id="PlayLink" target="_blank"  href="<%-data.cookingInstMedia%>" onclick="pplayMusic(this, 'music_select');">Click here to watch cooking instructions</a>
                                </div>
                                <%}%>

                                <h4 class="header-title">Delivery Instructions</h4>
                                <% if(instructions){ %>
                                    <% for(var t=0;t<instructions.deliveryInstructions.length;t++){ %>
                                        <p class="sub-header">
                                           <%- instructions.deliveryInstructions[t].heading %>
                                        </p>
                                    <%}%>
                                <% } %>
                            </div>
                            </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mb-3">Delivery Info</h4>
                                        <p class="mb-1"><span class="font-weight-semibold">Type :</span> 
                                            <% if(data.deliveryType == '0'){ %>
                                            Pick Up
                                            <% }else{ %>
                                            Delivery
                                            <% } %>
                                            </p>
                                       
                                       <% var empDatat=data.assignedEmployees!=null?data.assignedEmployees :[] 
                                        for(var t=0;t<empDatat.length ;t ++)
                                
                                 {
                                     var jobStatus="Not Accepted" 
                                    if(empDatat.jobStatus==1) jobStatus="Accepted" 
                                    if(empDatat.jobStatus==2) jobStatus="Cancelled" 

                                    %> 
                                
                                     
                                     <div class="content-box ">
                                         
                                       
                                             
                                             <table class="table  font-size-11">
                                                 <tr>
                                                    <td> <img   class="avatar-sm rounded-circle"  src="<%-empDatat[t].employee.image %>" alt="" />

                                                     <td> <%-empDatat[t].employee.firstName +' '+ empDatat[t].employee.lastName +' ,' +empDatat[t].employee.countryCode +'-'+empDatat[t].employee.phoneNumber  %>
                                                        <td> <%-jobStatus%>

                                                    
                                                    </tr>
                             
                                             
                        
                                             </table>
                         
                                            
                                         
                                        
                                   
                         
                                   
                                 </div>
                                 <%}%>


            
                                    </div>
                                </div>
                            </div> <!-- end col -->

                        
                        <!-- end row -->
                        
                    </div> <!-- container -->

                </div> <!-- content -->
               </div>
        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->
        <div class="col-xl-4">
      

                
                
                <!-- sample modal content -->

                <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Assign Employee</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body p-4">
                                <div class="row">
                                <input type="hidden" id="assignOrderId" value="<%-data.id%>"/>
                                <div class="form-group col-md-12 ">

                                    <select  id="selectize-maximum">
                                    <%var exists=data.assignedEmployees.map(item => item.employee.id)
                                    %>
                                        <option value="" disabled/>Choose Employee
                                    <%for(var t=0;t<empData.length;t++){%>
                                        <option value="<%-empData[t].id%>" <%if(exists.includes(empData[t].id)){%> selected <%}%>   /><%-empData[t].firstName+' '+empData[t].lastName%> 
                                       
                                    <%}%>

                                    </select>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="modal-footer">
                                <button type="button"  class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                                <button type="button" onclick="updateAssignemnt(0)"  class="btn btn-info waves-effect waves-light">Assign</button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal -->

                 <!-- sample modal content -->

                <div id="con-close-modal-all" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Assign Employee</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body p-4">
                                <div class="row">
                                <input type="hidden" id="assignOrderId" value="<%-data.id%>"/>
                                <div class="form-group col-md-12">
                                    <select  id="selectize-maximum1" >
                                    <%var exists=data.assignedEmployees.map(item => item.employee.id)
                                    %>
                                    <option value="" disabled/>Choose Employee
                                    <%for(var t=0;t<AllempData.length;t++){%>
                                        <option value="<%-AllempData[t].id%>" <%if(exists.includes(AllempData[t].id)){%> selected <%}%>   /><%-AllempData[t].firstName+' '+AllempData[t].lastName%>
                                    <%}%>
                                    </select>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="modal-footer">
                                <button type="button"  class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                                <button type="button" onclick="updateAssignemnt(1)"  class="btn btn-info waves-effect waves-light">Assign</button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal -->


                <div id="con-close-modal-status" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Order Status</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body p-4">
                                <div class="row">
                                     <input type="hidden" id="assignOrderId" value="<%-data.id%>"/>
                                    <select class="custom-select" id="status-selectt" >
                                        <option value="" disabled />Choose Status
                                        <%for(var k=0;k<options.length;k++)
                                        {%>
                                            <option value="<%-options[k].status%>"> <%-options[k].statusName%> </option>


                                        <%}%>
                                    </select>
                                </div>
                            </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                                <button type="button" onclick="changeStatus()" class="btn btn-info waves-effect waves-light">Save changes</button>
                            </div>
                            </div>
                            
                        </div>
                    </div>





   
   
   
   
   
   
   
   
              
              
              
              
              
                </div>

</div>

    
    <!-- END wrapper -->

    <%- include('../partials/script'); -%>
    <%- include('../partials/commonJs'); -%>
    
    <script src="/dist/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="/dist/assets/js/pages/form-advanced.init.js"></script>
    <script type="text/javascript" src="http://mediaplayer.yahoo.com/js"></script>

    <!-- Init js-->
    <script>
    $(function() { 
        $('#sidebar-menu ul li').find('a[href*="<%-adminpath%>orders"]').parent().addClass('menuitem-active');
        $('#sidebar-menu ul li a[href^="<%-adminpath%>orders"]').addClass('active');
    });

    $('#selectize-maximum1').selectize()
    function updateAssignemnt(type)
    {
        var orderId= $('#assignOrderId').val();
       if(type==0) var employees= $('#selectize-maximum').val();
        else var employees= $('#selectize-maximum1').val();


        //console.log(employees)
        $('#loading1').show();
        $.ajax({
            type: 'POST',
            url: '<%-adminpath%>orders/updateAssignment',
            dataType: 'json',
            data: {'orderId':orderId,'employees':employees},
            success: function (response) {
                $('#loading1').hide();
                if (response.code == '200') {
                    toastr.success( response.message);
                    setInterval(function(){
                        window.location.reload();
                    },2000);

                }
                else{
                    toastr.error(response.message)
                }
            },
            error :function(response)
            {$('#loading1').hide();

            var errorResponse=JSON.parse(response.responseText)
                 showToastError(errorResponse.message)

            }
        });
    }


    function changeStatus()
    {
        var id = $("#assignOrderId").val();
        console.log(id);
        var status = $("#status-selectt :selected").val();
        console.log('sadas',status)
        if( confirm('Are you sure you want to change status for this order?'))
        {
            
                $("#con-close-modal").modal('hide');
                $.ajax({
                    type: 'POST',
                    url: '<%-adminpath%>orders/status',
                    dataType: 'json',
                    data: {'id':id,'status':status},
                    success: function (response) {
                        console.log(response)
                        if (response.code == '200') {
                            showToastSuccess( response.message);
                            setTimeout(function(){
                              location.reload()
                            }, 300);
                        }
                        else{
                           
                            showToastError(response.message);
                               
                        }
                    },

                    error :function(response)
                    {
                        var errorResponse=JSON.parse(response.responseText)
                 showToastError(errorResponse.message)

                    }
                });
            }
            }
  







    </script>
</body>

</html>