<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header'); -%>


<body class="loading"
    data-layout='{"mode": "light", "width": "fluid", "menuPosition": "fixed", "sidebar": { "color": "light", "size": "default", "showuser": false}, "topbar": {"color": "dark"}, "showRightSidebarOnPageLoad": true}'>
    <!-- Begin page -->
    <div id="wrapper">
        <%- include('../partials/dashboardHeader'); -%>
                   <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">
                        
                        
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="<%- adminpath %>">Dashboard</a></li>
                                            
                                            <li class="breadcrumb-item active">Rating</li>
                                        </ol>
                                    </div>

                                    <h4 class="page-title"><a  href="javascript:;" onclick="window.history.back()";> <i class="mdi mdi-backburger "></i> </a> Product Ratings & Reviews</h4>
                                </div>
                            </div>
                        </div>     
                        <input type="hidden" class="form-control" id="serviceId">


                        <div class="row">

                            <div class="col-md-6 col-xl-3">
                                <div class="widget-rounded-circle card-box">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="avatar-lg rounded-circle bg-soft-primary border-primary border">
                                                <i class="fe-heart font-22 avatar-title text-primary"></i>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="text-right">
                                                <h5 class="mt-1"><span id="productName"></span></h5>
                                            </div>
                                        </div>
                                    </div> <!-- end row-->
                                </div> <!-- end widget-rounded-circle-->
                            </div> <!-- end col-->

                            <div class="col-md-6 col-xl-3">
                                <div class="widget-rounded-circle card-box">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="avatar-lg rounded-circle bg-soft-info border-primary border">
                                                <i class="fe-star font-22 avatar-title text-primary"></i>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="text-right">
                                                <h3 class="mt-1"><span data-plugin="counterup"><%-total%></span></h3>
                                                <p class="text-muted mb-1 text-truncate">Total Reviews</p>
                                            </div>
                                        </div>
                                    </div> <!-- end row-->
                                </div> <!-- end widget-rounded-circle-->
                            </div> <!-- end col-->

                             <!-- end col-->

                             <!-- end col-->

                            <div class="col-md-12 col-xl-4">
                                <div class="widget-rounded-circle card-box">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="avatar-lg rounded-circle bg-soft-warning border-warning border">
                                                <i class="fe-star font-22 avatar-title text-warning"></i>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="text-right">
                                                <h3 class="text-dark font-15 mt-1"><span ><%-avgRating%>&nbsp;<%-commonMethods.getRating(avgRating)%></span></h3>
                                                <p class="text-muted mb-1 text-truncate">Avg ratings</p>
                                            </div>
                                        </div>
                                    </div> <!-- end row-->
                                </div> <!-- end widget-rounded-circle-->
                            </div> <!-- end col-->
                        </div>
                     
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card-box">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <form class="form-inline">
                                                <div class="form-group">
                                                    <label for="inputPassword2" class="sr-only">Search</label>
                                                    <input type="search" class="form-control" id="search" placeholder="Search  rating & review">
                                                </div>
                                                <div class="form-group mx-sm-3">
                                                    <label for="status-select" class="mr-2">Sort By</label>
                                                    <select onchange="sorting()" class="custom-select" id="sortby-select">
                                                        <option value="createdAt#DESC">All</option>
                                                        <option value="createdAt#DESC">Recently Added</option>
                                                        <option value="createdAt#ASC">Older to New</option>
                                                        <option value="rating#DESC">Rating High</option>
                                                        <option value="rating#ASC">Rating Low</option>
    
                                                    </select>
                                                </div>
    
                                             


                                            </form>
                                        </div>
                                      
                                    </div>
                                    



                                    
                                </div> <!-- end card-box -->
                            </div> <!-- end col-->
                        </div>


                        <div class="row col-12 card-box">
                            
              <div class="col-md-10  tab-content" id="appendData">
                                        

                                
                                 
                                    
    

                                        </div>
  
                                        
                                    </div> <!-- end card-body-->
                                    <div class="col-md-4" style="float:right" id="append_pagination">

                                    </div>
                                </div> <!-- end card-->
                            </div> <!-- end col -->
                        </div> 
                        

                        
                    </div> <!-- container -->

                </div> <!-- content -->
            </div>
        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->
                
</div>
                
    <!-- END wrapper -->
    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>
    <%- include('../partials/script'); -%>
    <%- include('../partials/commonJs'); -%>


    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"/> -->




    <script>
        $(document).ready(function() {
        $('#example').DataTable( {
            "bPaginate":   false,
            "bInfo":     false,
            "bFilter":false,
            "bLengthChangeInfo":false
        } );
        $('#example thead th').off('click')
    } );
    </script>
    
    <script>
     var currentPage=1
     var orderByInfo={'orderby':'rating',orderType:'DESC'}
     $('#serviceId').val(getURLParameter('serviceId'))
     $('#productName').html(getURLParameter('name'))

    getList(currentPage)
    
        
    
    
    
       function getList(currentPage)
       {
        currentPage=currentPage
        var serviceId=$('#serviceId').val()
        var search = $('#search').val();

        var limit=10
    
        $('#loading1').show()
        $.ajax({
                type: 'POST',
                url: '<%-adminpath%>ratings/product/ratings',
                dataType: 'json',
                data: {'page':currentPage,'limit':limit,"search": search,'orderByInfo':orderByInfo,"serviceId":serviceId},
                success: function (response) {
                    $('#loading1').hide()
                    $("#appendData").html('<h3>No data avialable in table/</h3>')             
    
                    if (response.code == '200') {
                       // $('#block_status_'+id).html(''
    var data1=response.body
    var data=response.body.rows
    dataList=data
        setData(data)
        
    
    
    appendPagination(currentPage,Math.ceil(data1.count/limit))
    
    
    
    
    
    
                        
                                
                    }
                    else{
                       
                        showToastError(response.message)
                    }
                },
    
                error :function(response)
                {
    
                    $('#loading1').hide()
    
                    var errorResponse=JSON.parse(response.responseText)
                 showToastError(errorResponse.message)
    
                }
            });
        }
    
    
    
        function setData(data)
        {
            var myvar=""
            for(var t=0;t<data.length;t++) {
    
            
                var name=(data[t].user!=null)?data[t].user.firstName :"" 
            var image=(data[t].user!=null)?data[t].user.image:""


   
                myvar=myvar+ `<div class="mt-3 ml-3">
                                            <div class="media">
                                                <img   onError="this.onerror=null;this.src='/assets/images/products/no-image.jpg';" class="d-flex mr-3 rounded-circle avatar-md" src="${image}" alt="image">
                                                <div class="media-body">
                                                    <h5 class="mt-0">
                                                        <a href="#" class="text-dark">${name}</a>
                                                        
                                                    </h5>
                                                        <b class="font-14" >Rating On:</b>  <span class="text-muted">${format(new Date(data[t].createdAt))}</span>
                                                      </br>

                                                      <a   href="javascript: void(0);"  onclick="deleteReview('${data[t].id}')"  class="btn btn-danger waves-effect float-right waves-light"><i class="mdi mdi-delete-circle"></i>&nbsp;&nbsp;Delete</a>

                                                        <b>${getRating(data[t].rating)}</b>
                            
                                                        <span><a href="#" class="text-muted">${data[t].rating}</a></span>

                                                   
                                                      
                                                    <p class="font-13">
                                                        <b>Review:</b>
                                                        <br/>
                                                        <span class="text-muted">${data[t].review}</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="height:0.5px;width:100%;background-color:#f3f7f9"></div>
                                        `;





    }
    
    
    if(data.length>0)$("#appendData").html(myvar)    
    else $("#appendData").html('<div class="pad10A button-pane button-pane-alt text-center">No data avialable in table</div>')             
     
    
    
        }
        function deleteReview(id)
        {
    
            if( confirm('Are you sure you want to delete this review ?'))
            {
            $.ajax({
                type: 'POST',
                url: '<%-adminpath%>ratings/delete',
                dataType: 'json',
                data: {'id':id},
                success: function (response) {
                    if (response.code == '200') {
    
                        showToastSuccess(response.message)
                        getList(currentPage)
                        
                    }
                    else{
                       
                        showToastError(response.message)
                    }
                },
    
                error :function(response)
                {
                    var errorResponse=JSON.parse(response.responseText)
                 showToastError(errorResponse.message)
    
                }
            });
        }
        }
       
    
    
    
        function appendPagination(currentPage,count)
    {
        var fd="";
        if (count >= 1) { 
            fd=fd+' <ul class="pagination pagination-rounded justify-content-end mb-3">'; 

            if (currentPage > 1) {            
              fd=fd+'<li class="page-item"><a class="page-link" onclick="getList(1)" href="javascript: void(0);" aria-label="Previous"> <span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>';
            }
            else{
                fd=fd+'<li class="page-item"><a class="page-link disabled" href="javascript: void(0);" aria-label="Previous"> <span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>';
            }
          var i = 1;
          if (currentPage > 5) {
          i = +currentPage - 4;
          } 
         // if (i !== 1) { 
         //      fd=fd+'<a  class="btn medium disabled ui-state-default" href="javascript:;">...</a>';
         //  } 
                         
         // alert(fd);
          
         
            for (i; i<=count; i++) {
                if (currentPage == i) { 
                  fd=fd+'<li class="page-item active"><a class="page-link" href="javascript: void(0);">'+currentPage+'</a></li>';
                } else {
                    fd=fd+'<li class="page-item"><a class="page-link" onclick="getList('+i+')" href="javascript: void(0);">'+i+'</a></li>';
                }
                if (i == (+currentPage + 4)) {
                    fd=fd+'<a  class="btn medium disabled ui-state-default" href="javascript:;">...</a>';
                 break; } 
              }
         
          
            if (currentPage != count) {
                fd=fd+'<li class="page-item"><a class="page-link" onclick="getList('+count+')" href="javascript: void(0);" aria-label="Previous"> <span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>';
            } 
            else{
                fd=fd+'<li class="page-item"><a class="page-link disabled" href="javascript: void(0);" aria-label="Previous"> <span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>';
            } 
             
            fd=fd+'</ul>';  
        } 

       
           $("#append_pagination").html(fd)  
    }
  
    
      
    
    
     
    $('#search').on( 'keyup', function () {
           setTimeout(function(){getList(1) },1000);
    } );
    
    function sorting()
    {
   var order=$('#sortby-select').val();
   var finalValue=order.split("#")
   orderByInfo.orderby=finalValue[0]
   orderByInfo.orderType=finalValue[1]
   getList(1)

    }
      

        
    
    </script>
</body>

</html>