<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header'); -%>

<body class="loading">
    <!-- Begin page -->
    <div id="wrapper">
        <%- include('../partials/dashboardHeader'); -%>
                   <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">
                        
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="<%- adminpath %>">Dashboard</a></li>
                                            
                                            <li class="breadcrumb-item active">Offers</li>
                                        </ol>
                                    </div>
                                    <h4 class=form-label">Offers</h4>
                                </div>
                            </div>
                        </div>     
                        <!-- end page title --> 

                         <% if(!data){ %>
                        <div class="row">
                            <div class="col-12">
                                <div class="card-box">
                                    <div class="row">
                                       
                                        <div class="col-lg-12">
                                            <div class="text-lg-right mt-3 mt-lg-0">
                                                <a href="<%-adminpath%>offers/add %>"><button type="button" class="btn btn-danger waves-effect waves-light mr-1"><i class="mdi mdi-plus-circle mr-1"></i> Add New</button></a>
                                            </div>
                                        </div><!-- end col-->
                                        
                                    </div> <!-- end row -->
                                </div> <!-- end card-box -->
                            </div><!-- end col-->
                        </div>
                        <!-- end row -->        
                        <% } %>
                        <div class="row">
                            <div class="col-lg-8">
                             <% if(data){ %>
                                <div class="card-box bg-pattern">
                                    <div class="text-center">
                                        <img   onError="this.onerror=null;this.src='/assets/images/products/no-image.jpg';"  src="<%= data.thumbnail %>" alt="logo" class="avatar-xl rounded-circle mb-3">
                                        <h4 class="mb-1 font-20"><%= data.name %></h4>
                                        <p class="text-muted  font-14"><%= data.code %></p>
                                    </div>

                                    <p class="font-14 text-center text-muted">
                                        <%- data.description %>
                                    </p>

                                    <div class="text-center">
                                        <a href="<%-adminpath%>offers/view/<%- data.id %>" class="btn btn-sm btn-light">Update</a>
                                        <a  onclick="return confirm('Are you sure you want to delete this?');" href="<%-adminpath%>offers/delete/<%- data.id %>" class="btn btn-sm btn-light">Delete</a>
                                    </div>

                                    <div class="row mt-4 text-center">
                                        <div class="col-6">
                                            <h5 class="font-weight-normal text-muted">Valid Upto</h5>
                                            <h4><%-commonMethods.format(new Date(data.validupto)) %></h4>
                                        </div>
                                        <div class="col-6">
                                            <h5 class="font-weight-normal text-muted">Usage Limit</h5>
                                            <h4><%-data.usageLimit %> </h4>
                                        </div>
                                    </div>
                                </div> <!-- end card-box -->
                            <% }else{ %>
                                <div class="card-box bg-pattern">
                                    <p class="font-14 text-center text-muted">
                                       Currently, No Active Offer
                                    </p>

                                    
                                </div> <!-- end card-box -->
                            <% } %>
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->

                    </div> <!-- container -->
                </div> <!-- content -->
            </div>
                
</div>
                
    <!-- END wrapper -->
    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>
    <%- include('../partials/script'); -%>
    <%- include('../partials/commonJs'); -%>
<script>
    function StatusChange(id,status)
    {

        var confirm1= (status=="1") ? "Inactive" : "Active"
        if( confirm('Are you sure you want to '+confirm1+' this?'))
        {
            $.ajax({
                type: 'POST',
                url: '<%-adminpath%>coupans/status',
                dataType: 'json',
                data: {'id':id,'status':status},
                success: function (response) {
                    if (response.code == '200') {
                        if(status == "1")
                        {
                           $('#block_status_'+id).hide()
                           $('#unblock_status_'+id).show()
                           showToastSuccess( "Service inactive successfully")
                        }else{
                            $('#block_status_'+id).show()
                            $('#unblock_status_'+id).hide()
                            showToastSuccess( "Service active successfully")
                        }
                    }
                    else{
                        showToastError(response.message)
                    }
                },
                error :function(response)
                {
                    var errorResponse=JSON.parse(response.responseText)
                 showToastError(errorResponse.message)

                }
            });
        }
    }
</script>
</body>

</html>