<!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/header'); -%> 

    <body class="loading auth-fluid-pages pb-0">

        <div class="auth-fluid">
            <!--Auth fluid left content -->
            <div class="auth-fluid-form-box">
                <div class="align-items-center d-flex h-100">
                    <div class="card-body">

                        <!-- Logo -->
                        <div class="auth-brand text-center text-lg-left">
                            <div class="auth-logo">
                                <a href="<%-adminpath%>" class="logo logo-dark text-center">
                                    <span class="logo-lg">
                                        <img src="/dist/assets/images/logo-dark.png" alt="" height="22">
                                    </span>
                                </a>
            
                                <a href="<%-adminpath%>" class="logo logo-light text-center">
                                    <span class="logo-lg">
                                        <img src="/dist/assets/images/logo-light.png" alt="" height="22">
                                    </span>
                                </a>
                            </div>
                        </div>

                       
    

                        <!-- title-->
                        <h4 class="mt-0">Recover Password</h4>
                        <p class="text-muted mb-4">Enter your email address and we'll send you an email with instructions to reset your password.</p>
                        




                            
                        <% if (typeof errorMessage != 'undefined' && errorMessage && errorMessage.length>0) { %>
                        
                            <div class="callout callout-info bg-red">
                                <p><%- errorMessage %></p>
                              </div>
                            <% }%>
                        <!-- form -->
                        <form role="form" id="forgetForm" action="<%-adminpath%>forgotPassword" method="POST">

                            <div class="form-group mb-3">
                                <label for="emailaddress">Email address</label>
                                <input class="form-control" type="email" name="email" id="email"
                                placeholder="Enter your email">                            </div>

                            <div class="form-group mb-0 text-center">
                                <button class="btn btn-primary waves-effect waves-light btn-block" type="submit"> Reset Password </button>
                            </div>

                        </form>
                        <!-- end form-->

                        <!-- Footer-->
                        <footer class="footer footer-alt">
                            <p class="text-muted">Back to <a href="<%-adminpath%>" class="text-muted ml-1"><b>Log in</b></a></p>
                        </footer>

                    </div> <!-- end .card-body -->
                </div> <!-- end .align-items-center.d-flex.h-100-->
            </div>
            <!-- end auth-fluid-form-box-->

            <!-- Auth fluid right content -->
            <div class="auth-fluid-right text-center">
                <div class="auth-user-testimonial">
                    <h2 class="mb-3 text-white">I love the Food!</h2>
                    <p class="lead"><i class="mdi mdi-format-quote-open"></i> If you really want to make a friend, go to someone’s house and eat with him – the people who give you their food give you their heart. <i class="mdi mdi-format-quote-close"></i>
                    </p>
                    <h5 class="text-white">
                        - Saira (Delicio Admin User)
                    </h5>
                </div> <!-- end auth-user-testimonial-->
            </div>
            <!-- end Auth fluid right content -->
        </div>
        <!-- end auth-fluid-->

        <%- include('../partials/script'); -%> 

        
    </body>
    <script type="text/javascript">
        $(document).ready(function () {
    
            $('#forgetForm').validate({
                rules: {
                    email: {
                        required: true,
                        email: true,
                    },
    
                },
                messages: {
                    email: {
                        required: "Please enter a email address",
                        email: "Please enter a vaild email address"
                    },
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });
    </script>
    
</html>